@AGENT[C7?Aerospace?Division]:AFTER[zzzReProgram] {
  @title = #L_ReProgramA_C7
  %description = #L_ReProgramA_C7Blurb
}
@PART[toroidalAerospike|JetEngine|turboFanEngine|turboJet]:AFTER[zzzReProgram] {
  %manufacturer = #L_ReProgramA_C7
}
@PART[adapterSize2-Mk2|adapterSize2-Size1|adapterSize2-Size1Slant|structuralPylon|smallHardpoint|airbrake1]:AFTER[zzzReProgram] {
  %manufacturer = #L_ReProgramA_C7
}
!AGENT[C7?Aerospace?Division?and?Rockomax?Conglomerate]:FINAL {}
// Advanced engines
@PART[RAPIER]:AFTER[zzzReProgram] {
  %manufacturer = #L_ReProgramPM_RAPIER
  @title = #L_ReProgramPT_RAPIER
  %description = #L_ReProgramPD_RAPIER
}
@PART[toroidalAerospike]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_toroidalAerospike
}
// Jet engines
@PART[JetEngine]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_JetEngine
}
@PART[turboFanEngine]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_turboFanEngine
}
@PART[turboJet]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_turboJet
}
// Adapters
@PART[adapterSize2-Mk2]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_adapterSize2-Mk2
}
@PART[adapterSize2-Size1]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_adapterSize2-Size1
}
@PART[adapterSize2-Size1Slant]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_adapterSize2-Size1Slant
}
// Couplers
@PART[structuralPylon|smallHardpoint]:AFTER[zzzReProgram] {
  %category = Coupling
}
// Aerodynamics
@PART[airbrake1]:AFTER[zzzReProgram] {
  @title = #L_ReProgramPT_airbrake1
  %description = #L_ReProgramPD_airbrake1
}
@PART[avionicsNoseCone]:AFTER[zzzReProgram] {
  %description = #L_ReProgramPD_avionicsNoseCone
}

Localization {
  en-us {
	  // Agency
	#L_ReProgramA_C7 = C7 Aerospace Division
	// #L_ReProgramA_C7Agent = C–7 Flight Technologies dba C7 Aerospace Divison
	#L_ReProgramA_C7Blurb = “Why go straight up, when you can fly equally well in other directions?”—that's the old motto of C7 Aerospace founder Chad Kerman. (Well, it was originally “Failure isn't an option, it's a feature”, but he's ashamed of that one.)\n\nEmerging from humble beginnings to the powerhouse they are now, C7 have always been looking straight ahead towards the horizon…as well as a little above it, towards that spot where the sky meets the ground. With their line of experimental aircraft parts, covering just about everything necessary for level flight, there is adventure to be found in whichever direction you choose.
	  // AIRBRAKES
	#L_ReProgramPT_airbrake1 = AIRBRAKES®
	#L_ReProgramPD_airbrake1 = Research into feasible ways to slow down a plane in mid-air showed that loose hull panels are pretty great as drag-inducing deceleration devices. The discovery led to the invention of the Aerodynamically Integrated Retrograde Braking Robustly Armed Kinetic Extending System, which is now popular mostly as a cheap alternative to longer runways.\nC7 Engineers are still trying to come up with a shorter name for such a long acronym.
	  // Avionics Hub
	#L_ReProgramPD_avionicsNoseCone = Have you ever wanted to impress your peers by showing off your elite flying skills, but lacked the skills to become a trained pilot? C7 Aerospace's Fly-By-Wire Avionics Hub is the solution! This module allows even the most minimally trained crew to fly like an Ace!\n<b>WARNING</b>: <i>This module cannot operate autonomously. Warranty void if attempting to do so.</i>\n<b>WARNING</b>: <i>Module contains no internal gyroscopes or control systems (control actuators sold separately).</i>\n<b>WARNING</b>: <i>Warranty void without proper use of C7 Aerospace brand Airsickness Bags (bags sold separately, currently out of stock).</i>
	  // Surfaces
	#L_ReProgramPD_AdvancedCanard = C7ʼs engineers think this control surface design looks ‘high tech’, and therefore that it must be a clear improvement upon their earlier models.
	#L_ReProgramPD_CanardController =
	#L_ReProgramPD_delta_small =
	#L_ReProgramPD_deltaWing =
	#L_ReProgramPD_elevon2 =
	#L_ReProgramPD_elevon3 =
	#L_ReProgramPD_elevon5 =
	#L_ReProgramPD_smallCtrlSrf =
	#L_ReProgramPD_smallHardpoint =
	#L_ReProgramPD_StandardCtrlSrf =
	#L_ReProgramPD_standardNoseCone =
	#L_ReProgramPD_structuralPylon =
	#L_ReProgramPD_structuralWing =
	#L_ReProgramPD_structuralWing2 =
	#L_ReProgramPD_structuralWing3 =
	#L_ReProgramPD_structuralWing4 =
	#L_ReProgramPD_sweptWing1 =
	#L_ReProgramPD_sweptWing2 =
	#L_ReProgramPD_tailfin =
	#L_ReProgramPD_wingConnector =
	#L_ReProgramPD_wingConnector2 =
	#L_ReProgramPD_wingConnector3 =
	#L_ReProgramPD_wingConnector4 =
	#L_ReProgramPD_wingConnector5 =
	#L_ReProgramPD_wingShuttleDelta =
	#L_ReProgramPD_wingShuttleElevon1 =
	#L_ReProgramPD_wingShuttleElevon2 =
	#L_ReProgramPD_wingShuttleRudder =
	#L_ReProgramPD_wingShuttleStrake =
	#L_ReProgramPD_wingStrake =
		// Intakes + engines
	#L_ReProgramPD_CircularIntake =
	#L_ReProgramPD_IntakeRadialLong = Adjustable Ramp Intake, Radial
	#L_ReProgramPT_JetEngine = J-33 ‘Wheesley’ Turbofan Engine
	#L_ReProgramPD_radialEngineBody =
	#L_ReProgramPD_ramAirIntake =
	#L_ReProgramPT_RAPIER = TR-7 RAPIER® Hybrid Jet / Liquid Fuel Engine
	#L_ReProgramPM_RAPIER = C7 Aerospace Division + Rockomax Conglomerate
	#L_ReProgramPD_RAPIER = The Reactive Alternate-Propellant Intelligent Engine for Rockets is a joint venture between C7 Aerospace and the Rockomax Conglomerate. Designed to fill a design niche for sustainable, single-stage-to-orbit spaceplanes, this engine can function as both an airbreathing jet engine or a closed cycle rocket engine."
	#L_ReProgramPD_shockConeIntake2 =
	#L_ReProgramPT_toroidalAerospike = T-1 ‘Dart’ Toroidal Liquid Fuel Aerospike
	#L_ReProgramPD_toroidalAerospike =
	#L_ReProgramPT_turboFanEngine = J-X4 ‘Whiplash’ Turbo-Ramjet Engine
	#L_ReProgramPD_turboFanEngine =
	#L_ReProgramPT_turboJet = J-404 ‘Panther’ Afterburning Turbofan Engine
	  // Crew space
	#L_ReProgramPD_Mark1Cockpit =
	#L_ReProgramPD_Mark2Cockpit =
	#L_ReProgramPD_MK1CrewCabin =
	#L_ReProgramPD_mk2Cockpit_Inline =
	#L_ReProgramPD_mk2Cockpit_Standard =
	#L_ReProgramPD_mk2CrewCabin =
	#L_ReProgramPD_mk2DroneCore =
	#L_ReProgramPD_mk3Cockpit_Shuttle =
	#L_ReProgramPD_mk3CrewCabin =
	  // Fuselage
	#L_ReProgramPD_adapterEngines =
	#L_ReProgramPD_adapterMk3-Mk2 =
	#L_ReProgramPD_adapterMk3-Size2 =
	#L_ReProgramPD_adapterMk3-Size2Slant =
	#L_ReProgramPT_adapterSize2-Mk2 = Mk2 to 2.5m Adapter
	#L_ReProgramPT_adapterSize2-Size1 = Mk1 to 2.5m Adapter
	#L_ReProgramPT_adapterSize2-Size1Slant = Mk1 to 2.5m Adapter, Slanted
	#L_ReProgramPD_adapterSize3-Mk3 =
	#L_ReProgramPD_MK1Fuselage =
	#L_ReProgramPD_Mk1FuselageStructural =
	#L_ReProgramPD_MK1IntakeFuselage =
	#L_ReProgramPD_mk2_1m_AdapterLong =
	#L_ReProgramPD_mk2_1m_Bicoupler =
	#L_ReProgramPD_mk2Fuselage =
	#L_ReProgramPD_mk2FuselageLongLFO =
	#L_ReProgramPD_mk2FuselageShortLFO =
	#L_ReProgramPD_mk2FuselageShortLiquid =
	#L_ReProgramPD_mk2FuselageShortMono =
	#L_ReProgramPD_mk2SpacePlaneAdapter =
	#L_ReProgramPD_mk3FuselageLF_100 =
	#L_ReProgramPD_mk3FuselageLF_25 =
	#L_ReProgramPD_mk3FuselageLF_50 =
	#L_ReProgramPD_mk3FuselageLFO_100 =
	#L_ReProgramPD_mk3FuselageLFO_25 =
	#L_ReProgramPD_mk3FuselageLFO_50 =
	#L_ReProgramPD_mk3FuselageMONO =
	  // Utilities
	#L_ReProgramPD_mk2CargoBayL =
	#L_ReProgramPD_mk2CargoBayS =
	#L_ReProgramPD_mk2DockingPort =
	#L_ReProgramPM_mk2DockingPort = C7 Aerospace Division + Coop's Connectors
	#L_ReProgramPD_mk3CargoBayL =
	#L_ReProgramPD_mk3CargoBayM =
	#L_ReProgramPD_mk3CargoBayS =
	#L_ReProgramPD_mk3CargoRamp =
	  // Nose
	#L_ReProgramPD_noseConeAdapter =
	#L_ReProgramPD_noseconeTiny =
	#L_ReProgramPD_noseconeVS =
  }
}