@AGENT[Clamp-O-Tron]:FOR[zzzReProgram] {
	@title = #L_ReProgramA_Clamp
	%description = #L_ReProgramA_ClampBlurb
}
@PART[dockingPort1|dockingPort2|dockingPort3|dockingPortLarge|dockingPortLateral|InflatableAirlock|groundAnchor|stackPoint1]:FOR[zzzReProgram] {
	%manufacturer = #L_ReProgramA_Clamp
}
@PART[restock-docking-375-1|restock-node-625-1|restock-node-1875-1]:FOR[zzzReProgram] {
	%manufacturer = #L_ReProgramA_Clamp
}
// Docking ports
@PART[dockingPort1]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_dockingPort1
}
@PART[dockingPort2]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_dockingPort2
}
@PART[dockingPort3]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_dockingPort3
}
@PART[dockingPortLarge]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_dockingPortLarge
}
@PART[restock-docking-375-1]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-docking-375-1
}
@PART[dockingPortLateral]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_dockingPortLateral
}
@PART[InflatableAirlock]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_InflatableAirlock
}
// Not docking ports
@PART[groundAnchor]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_groundAnchor
}
@PART[restock-node-625-1]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	%description = #L_ReProgramPD_restock-node-625-1
}
// Cleanup
!PART[restock-airlock-1]:NEEDS[ReStockPlus]:FINAL {} // Redundant inflatable airlock [Restock+]

Localization {
	en-us {
		// Agency
	#L_ReProgramA_Clamp = Coopʼs Connectors
	#L_ReProgramA_ClampBlurb = After a peaceful protest against the lack of spacecraft attachment systems turned violent, pilot and engineer Coopford Kerman left retirement to save the day, devising the ingenious Clamp-O-Tron docking port using whatever he could find lying by the side of the road. Since then, Clamp-O-Tron parts have become a household name, world-famous for their reliability even under extreme centrifugal, tidal, or phantom forces.\n\nBetween you and me, though, the real star of the company is his sidekick, an intelligent Moving Parts Group robot named SARB.
		//Parts
	#L_ReProgramPT_dockingPort1 = Clamp-O-Tron™ Docking Port, Shielded
	#L_ReProgramPT_dockingPort2 = Clamp-O-Tron™ Docking Port
	#L_ReProgramPT_dockingPort3 = Clamp-O-Tron™ Docking Port Jr.
	#L_ReProgramPT_dockingPortLarge = Clamp-O-Tron™ Docking Port Sr.
	#L_ReProgramPT_restock-docking-375-1 = Clamp-O-Tron™ Docking Port Grande
	#L_ReProgramPT_dockingPortLateral = Clamp-O-Tron™ Inline Docking Port
	#L_ReProgramPT_groundAnchor Stamp-O-Tron™ Ground Anchor
	#L_ReProgramPT_InflatableAirlock = CL–06 ‘Lychee’ Inflatable Docking Airlock
	#L_ReProgramPM_InflatableAirlock = Coopʼs Connectors + FLOOYD Dynamics Research Labs
	#L_ReProgramPD_restock-node-625-1 = After the surprise success of the BZ-52, the Coop's Connectors engineering team came out of hiding to reveal their new pocket model.
	}
}