@AGENT[Experimental?Engineering?Group]:FOR[zzzReProgram] {
	@title = #L_ReProgramA_Exp
	%description = #L_ReProgramA_ExpBlurb
}

Localization {
	en-us {
	// Agency
		#L_ReProgramA_Exp = Experimental Engineering Group
		#L_ReProgramA_ExpBlurb = The Experimental Engineering Group is a typical tech startup: Low budgets and impossibly tight deadlines are part of a normal working day for them. In spite of being such a young company, Experimental Engineering has made a good start, quickly making a name for themselves in the industry, mainly thanks to their very educational and entertaining SC-9001 Science Jr. Experiment Kit.\n\nDespite valiant efforts from their representatives, however, they haven't quite been able to shake off the bad press that followed some leaked footage of an incident involving one of their units and a small critter that one of the scientists over at R&D used to keep as a pet. Some say the incident has made them extremely concerned with the safety of anything that approach their products. They've even rounded out the edges on their company logo.

	// Science
		#L_ReprogramPD_DeployedCentralStation =
		#L_ReProgramPD_DeployedSeismicSensor =
		#L_ReprogramPD_InfraredTelescope =
		#L_ReprogramPD_Magnetometer =
		#L_ReprogramPD_OrbitalScanner =
		#L_ReprogramPD_RobotArmScanner_S1 =
		#L_ReprogramPD_RobotArmScanner_S2 =
		#L_ReprogramPD_RobotArmScanner_S3 =
		#L_ReprogramPD_science_module =
		#L_ReprogramPD_SurfaceScanner =
		#L_ReprogramPD_SurveyScanner =
	// Storage
		#L_ReprogramPD_cargoContainer =
		#L_ReprogramPD_CargoStorageUnit =
		#L_ReprogramPD_ConformalStorageUnit =
		#L_ReprogramPD_ScienceBox =
		#L_ReprogramPD_smallCargoContainer =
	}
}