Localization {
 en-us {
	  // Agency
	#L_ReProgramA_Flooyd = FLOOYD Dynamics Research Labs
	#L_ReProgramA_FlooydBlurb = FLOOYD Labs is a company focused on doing one thing, and doing it as well as is conceivably possible to do it: Displacing liquids from one place to another. Their flagship product, the FTX-2 Fuel Duct, is the final result of years of research and development and endless Kerbal-hours of effort to produce a device that will pump any amount of just about anything, no matter how cold, dense or volatile it is.\n\nThe company enjoys a well-deserved reputation for such an important contribution to the industry, and most agree that these days, almost nobody remembers the embarrassment of their recall of the FTX-1 series, which had a small but highly problematic issue; while it did pump fluids flawlessly…it pumped them in the wrong direction.
	  // Fuel ducts
	#L_ReProgramPD_fuelLine
	#L_ReProgramPD_ReleaseValve
	  // Fairings
	#L_ReProgramPD_restock-fairing-base-0625-1
	#L_ReProgramPD_fairingSize1
	#L_ReProgramPD_fairingSize1p5
	#L_ReProgramPD_fairingSize2
	#L_ReProgramPD_fairingSize3
	#L_ReProgramPD_fairingSize4
	  // Science
	#L_ReProgramPD_DeployedGoExOb
	#L_ReProgramPD_DeployedWeatherStn
	#L_ReProgramPD_GooExperiment
	  // Heat shields
	#L_ReProgramPM_InflatableHeatShield = FLOOYD Dynamics Research Labs + O.M.B Demolition Enterprises
	#L_ReProgramPD_InflatableHeatShield = Based on the design of a child's toy, this heat shield uses a set of inflatable rings covered with a thermal blanket to provide a generous 10 meter heat shield for reentry and deceleration, and the aerodynamic qualities of an untethered bouncy castle.\n\n<color=orange>WARNING: Not retractable once deployed!</color>
  }
}