@AGENT[Goliath?National?Products]:FOR[zzyReProgram] {
	@title = #L_ReProgramA_Goliath
	%description = #L_ReProgramA_GoliathBlurb
}
// Cleanup
!PART[rocketNoseCone_v2]:FINAL {} // Deprecated nose cone [Squad]
!PART[restock-nosecone-1875-1|restock-nosecone-1875-2|restock-nosecone-5-1]:NEEDS[ReStockPlus]:FINAL {} // Deprecated and redundant nose cones [Restock+]

Localization {
  en-us {
	// Agency
		#L_ReProgramA_Goliath = Goliath National Products
		#L_ReProgramA_GoliathBlurb = Goliath National Products know what's needed to keep them ahead of the competition: an eye for detail and a good nose for sniffing out what’s needed for our plucky engineers. Many of the great vessels of our age carry one of Goliaths nose cones, which tend to excel in moving air out of the way of the soft, important bits of any spacecraft (i.e. our heroes heading off on another adventure).

	// Nose Cones
		#L_ReProgramPD_noseCone =
		#L_ReProgramPD_pointyNoseConeA = A nose cone with less drag due to its pointy shape.
		#L_ReProgramPD_pointyNoseConeB =
		#L_ReProgramPD_rocketNoseCone_v2 =
		#L_ReProgramPD_rocketNoseCone_v3 =
		#L_ReProgramPD_rocketNoseConeSize3 =
		#L_ReProgramPD_rocketNoseConeSize4 =
		#L_ReProgramPD_Size_1_5_Cone =
	}
}