Localization {
  en-us {
	  // Agency
	#L_ReProgramA_Integ = Integrated Integrals
	#L_ReProgramA_IntegBlurb = What this small company lacks in experience and reputation, it makes up for in the sheer ambitiousness of their projects. Their first product was the very massive Mobile Processing Lab, which rumour has it was first developed as a mobile processing facility to secretly brew an experimental, possibly illegal fuel mixture, which was reportedly far more potent than the currently available propellants. Those rumours have never been proven however, and this mysterious propellant has yet to be seen by a reliable source.\n\nDespite their repeated attempts to be rid of these rumours, the company still suffers from a (probably undeserved) bad reputation. They try to offset this initial impression by offering much larger cash payoffs than other companies of similar size, which admittedly does very little to improve their current image.
	  // KAL 1000
	#L_ReProgramPD_controller1000 = A first of its kind, the 1000 series programmable controller is a reliable, intelligent computer that can manage a number of parts across a vessel.\n\nIt's not an entirely autonomous entity (yet), but our engineers suggest that you keep it occupied.
	  // Science
	#L_ReProgramPD_Large_Crewed_Lab = No longer are you limited to research facilities only on Kerbin!  With the Mobile Processing Lab, you can conduct long-term experiments and ongoing research with the data you collect in the field. (Be sure to check back on your scientists from time to time, and transmit the results of their research home!)\n\nThis model is guaranteed to spontaneously combust less than previous models, and also has the <color=green>equipment necessary to clean out and restore functionality to inoperable experiments</color>.
	  // Radiators
	#L_ReProgramPD_foldingRadSmall =
	#L_ReProgramPD_foldingRadMed =
	#L_ReProgramPD_foldingRadLarge =
	#L_ReProgramPD_radPanelSm =
	#L_ReProgramPD_radPanelLg =
	#L_ReProgramPD_radPanelEdge =
  }
}