@AGENT[Kerbal?Motion?LLC]:FOR[zzyReProgram] {
  @title = #L_ReProgramA_Motion
  %description = #L_ReProgramA_MotionBlurb
}
@PART[roverWheel1|roverWheelM1-F|roverWheel2|wheelMed|roverWheel3|GrapplingDevice|smallClaw]:FOR[zzyReProgram] {
  %manufacturer = #L_ReProgramA_Motion
}
// Wheels
@PART[roverWheel1]:FOR[zzyReProgram] {
  @title = #L_ReProgramPT_roverWheel1
  %description = #L_ReProgramPD_roverWheel1
}
@PART[roverWheelM1-F]:FOR[zzyReProgram] {
  @title = #L_ReProgramPT_roverWheelM1-F
  %description = #L_ReProgramPD_roverWheelM1-F
}
@PART[roverWheel2]:FOR[zzyReProgram] {
  @title = #L_ReProgramPT_roverWheel2
  %description = #L_ReProgramPD_roverWheel2
}
@PART[wheelMed]:FOR[zzyReProgram] {
  @title = #L_ReProgramPT_wheelMed
  %description = #L_ReProgramPD_wheelMed
}
@PART[roverWheel3]:FOR[zzyReProgram] {
  @title = #L_ReProgramPT_roverWheel3
  %description = #L_ReProgramPD_roverWheel3
}
// Grabbing units
@PART[GrapplingDevice]:FOR[zzyReProgram] {
  %description = #L_ReProgramPD_GrapplingDevice
}
@PART[smallClaw]:FOR[zzyReProgram] {
  %description = #L_ReProgramPD_smallClaw
}
// Cleanup
!PART[restock-wheel-4|restock-claw-625-1]:NEEDS[ReStockPlus]:FINAL {} // Redundant wheel & obsolete small grabber [Restock+]

Localization {
  en-us {
		// Agency
	#L_ReProgramA_Motion = Kerbal Motion LLC
	#L_ReProgramA_MotionBlurb = After years of outcry against the lack of proper powered wheels, Kerbal Motion was founded as a small startup company to deliver just what the public wanted.\n\nInitially, they started with square wheels, and began adding sides until they settled on a more cylindrical configuration. Intensive testing, which incidentally led to various new motor being invented, confirmed their suspicions that round wheels really do make for a much smoother ride.\n\nOnce they overcame that hurdle (and conquered the wheel business with their RoveMax brand), the brains at the company then began looking towards what else they could apply their considerable grey matter to; they settled on grabber claws, partly as this would mean they wouldn’t have to reach quite so far for their drinks.

		// Wheels
	#L_ReProgramPT_roverWheel1 = RoveMax Model 1
	#L_ReProgramPD_roverWheel1 = The RoveMax Model 1 powered rover wheel is the perfect balance of both strength and style. Whether you're designing a sophisticated exploration craft or otherwise, this medium-sized rover wheel is an excellent choice to keep on rollin'.
	#L_ReProgramPT_roverWheel2 = RoveMax Model 2S
	#L_ReProgramPD_roverWheel2 = Seeing an untapped market for a smaller design of rover wheel, Kerbal Motion quickly pounced upon the opportunity with the Model 2S. Lightweight and strong, the 2S was designed for robotic exploration vehicles, but it works well for smaller crewed vehicles.
	#L_ReProgramPT_roverWheel3 = RoveMax Model 3
	#L_ReProgramPD_roverWheel3 = The RoveMax Model 3 is the largest and heaviest wheel in Kerbal Motion's inventory, developed in total secrecy by the company's R&D team over the course of a year and a half.\n\nWhen it was finally revealed to the company's chairman, he stared in shock, screamed “WHY”, and subsequently fainted. Rumors that he died are greatly exaggerated; truth be told, he only had a heart attack (which he survived).
	#L_ReProgramPT_roverWheelM1-F = RoveMax Model 1F
	#L_ReProgramPD_roverWheelM1-F = With the ability to be stowed during launch, the Model 1F is ideal for situations where space is a premium.
	#L_ReProgramPT_wheelMed = RoveMax Model 2L
	#L_ReProgramPD_wheelMed = For the best in off-world, off-road fun, the Model 2L is an extremely tough all-terrain wheel. Its extremely high traction tread ensures firm grip on any surface, providing extra reliability (and reducing the chances of being used for high-speed tomfoolery).
		// Rotors
	#L_ReProgramPT_rotor_01 =
	#L_ReProgramPD_rotor_01 =
	#L_ReProgramPT_rotor_01s =
	#L_ReProgramPD_rotor_01s =
	#L_ReProgramPT_rotor_02 =
	#L_ReProgramPD_rotor_02 =
	#L_ReProgramPT_rotor_02s =
	#L_ReProgramPD_rotor_02s =
	#L_ReProgramPT_rotor_03 =
	#L_ReProgramPD_rotor_03 =
	#L_ReProgramPT_rotor_03s =
	#L_ReProgramPD_rotor_03s =

		// Claws
	#L_ReProgramPT_GrapplingDevice = Advanced Grabbing Unit
	#L_ReProgramPD_GrapplingDevice = Kerbal Motion engineers have long struggled with the problem of how to extract dropped tools from complicated machinery. After observing an intern cleaning out his shoes by turning them upside and shaking them inside the lab, the team was hit with a stroke of inspiration: Why not turn the rocket parts upside down and shake them?\n\nThis grabbing arm perfectly fills that niche, and is quite capable of lifting heavy machinery. It has since found other uses besides delicate tool extraction operations.
	#L_ReProgramPT_smallClaw = Advanced Grabbing Unit Jr.
	#L_ReProgramPD_smallClaw = Usually, when you want to improve a part, the first thing any self-respecting Kerbal engineer thinks about is making it bigger, and adding more power—but rarely, that isn't the ideal solution.\n\nThus was born the AGU Junior! Instead of making a bigger claw, Kerbal Motion has designed a smaller one—\n\n—for when you need to grab something in those hard to reach places.
  }
}