@AGENT[Kerbodyne]:FOR[zzzReProgram] {
	@title = #L_ReProgramA_Kerbo
	%description = #L_ReProgramA_KerboBlurb
}
@PART[LiquidEngineRE-J10|LiquidEngineRE-I2|SSME|Size2LFB_v2|Size3AdvancedEngine|Size3EngineCluster|LiquidEngineKE-1|MassiveBooster|Pollux|Thoroughbred|Clydesdale]:FOR[zzzReProgram] {
	%manufacturer = #L_ReProgramA_Kerbo
}
@PART[Size3To2Adapter_v2|Size3SmallTank|Size3MediumTank|Size3LargeTank|Size3_Size4_Adapter_01|Size4_EngineAdapter_01|Size4_Tank_01|Size4_Tank_02|Size4_Tank_03|Size4_Tank_04]:FOR[zzzReProgram] {
	%manufacturer = #L_ReProgramA_Kerbo
}
@PART[restock-engine-boar|estock-engine-375-corgi|restock-fueltank-sphere-375-1|restock-nosecone-375-1|restock-fuel-tank-375-4]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	%manufacturer = #L_ReProgramA_Kerbo
}
// Engines
@PART[LiquidEngineRE-J10]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_LiquidEngineRE-J10
	%description = #L_ReProgramPT_LiquidEngineRE-J10
}
@PART[LiquidEngineRE-I2]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_LiquidEngineRE-I2
	%description = #L_ReProgramPD_LiquidEngineRE-I2
}
@PART[SSME]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_SSME
}
@PART[restock-engine-boar]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-engine-boar
	@MODULE[ModulePartVariants] {
		@baseVariant = Boattail
	}
}
@PART[Size2LFB_v2]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size2LFB_v2
	%description = #L_ReProgramPD_Size2LFB_v2
}
@PART[restock-engine-375-corgi]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-engine-375-corgi
}
@PART[Size3AdvancedEngine]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3AdvancedEngine
}
@PART[Size3EngineCluster]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3EngineCluster
}
@PART[LiquidEngineKE-1]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_LiquidEngineKE-1
	%description = #L_ReProgramPD_LiquidEngineKE-1
}
@PART[MassiveBooster]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_MassiveBooster
	@MODULE[ModulePartVariants]:NEEDS[ReStock] {
		@baseVariant = ESA
	}
}
@PART[Pollux]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Pollux
} 
@PART[Thoroughbred]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Thoroughbred
}
@PART[Clydesdale]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Clydesdale
}
@PART[restock-srb-anvil-1]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-srb-anvil-1
	%category = Engine
	%TechHidden = False
	%manufacturer = #L_ReProgramA_Kerbo
}
// Fuel tank system
@PART[Size3To2Adapter_v2|Size3SmallTank|Size3MediumTank|Size3LargeTank]:FOR[zzzReProgram] {
	@MODULE[ModulePartVariants]:NEEDS[ReStock] {
	@baseVariant = Orange
	}
}
@PART[restock-fuel-tank-375-4|restock-fueltank-sphere-375-1|restock-nosecone-375-1]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@MODULE[ModulePartVariants] {
	@baseVariant = Orange
	}
}
@PART[Size3To2Adapter_v2]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3To2Adapter_v2
}
@PART[restock-fuel-tank-375-4]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-fuel-tank-375-4
}
@PART[Size3SmallTank]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3SmallTank
}
@PART[Size3MediumTank]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3MediumTank
}
@PART[Size3LargeTank]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3LargeTank
}
@PART[restock-fueltank-sphere-375-1]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-fueltank-sphere-375-1
}
@PART[restock-nosecone-375-1]:NEEDS[ReStockPlus]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_restock-nosecone-375-1
}
@PART[Size3_Size4_Adapter_01]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size3_Size4_Adapter_01
}
@PART[Size4_EngineAdapter_01]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size4_EngineAdapter_01
}
@PART[Size4_Tank_01]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size4_Tank_01
}
@PART[Size4_Tank_02]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size4_Tank_02
}
@PART[Size4_Tank_03]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size4_Tank_03
}
@PART[Size4_Tank_04]:FOR[zzzReProgram] {
	@title = #L_ReProgramPT_Size4_Tank_04
}
// Cleanup
!PART[Size2LFB]:FINAL {} // Deprecated Twin-boar [Squad]
!PART[restock-srb-castor-1|restock-engine-schnauzer-1|restock-engine-caravel-1|restock-engine-galleon-1]:NEEDS[ReStockPlus]:FINAL {} // Redundant engines [Restock+]
!PART[restock-fueltank-adapter-375-5-1|restock-fueltank-5-1|restock-fueltank-5-2|restock-fueltank-5-3|restock-fueltank-5-4|restock-fueltank-saturn-engine-1]:NEEDS[ReStockPlus]:FINAL {} // Redundant 5m parts [Restock+]

Localization {
	en-us {
		// Agency
	#L_ReProgramA_Kerbo = Kerbodyne International
	// #L_ReProgramA_KerboAgent = Kerbin Aerospace Dynamics dba Kerbodyne International
	#L_ReProgramA_KerboBlurb = Although Kerbodyne is a relatively new name in the aerospace industry, their engines and fuel tanks have earned them a quite a reputation in a short amount of time…so much so, in fact, that Kerbodyne was nominated for the "Best Debut" Award at last year's Spacecraft Developers Convention.\n\nUnfortunately, the prize ultimately went to another company, but Kerbodyne fans are known to demonstrate—loudly and publicly—their appreciation for the company and its products.
		// Engines
	#L_ReProgramPT_LiquidEngineRE-J10 = KR-J10 ‘Wolfhound’ Liquid Fuel Engine
	#L_ReProgramPD_LiquidEngineRE-J10 = With the largest bell in its diameter class, this upper stage engine functions majestically.
	#L_ReProgramPT_LiquidEngineRE-I2 = KR-I2 ‘Skiff’ Liquid Fuel Engine
	#L_ReProgramPD_LiquidEngineRE-I2 = The Skiff is a powerful upper-stage drive, which easily sails into the (wholly metaphorical) winds of interplanetary space even with its average efficiency and thrust.
	#L_ReProgramPT_restock-engine-boar = KR-1 ‘Boar’ Liquid Fuel Engine
	#L_ReProgramPT_Size2LFB_v2 = KR-1×2 ‘Twin Boar’ Liquid Fuel Booster
	#L_ReProgramPD_Size2LFB_v2 = This liquid fuel booster system is a very purposeful piece of engineering: Instead of relying on single engines or solid rocket boosters, the KR-1×2 employs two modified KR-1 engines, fed by a built-in fuel system, as the source of its lifting power. All this self-contained goodness comes at the cost of it not having a mounting point on its underside, and it is not quite as efficient as dedicated engines…it comes at a literal cost, as well.
	#L_ReProgramPT_restock-engine-375-corgi = KR-10A ‘Corgi’ Liquid Fuel Engine
	#L_ReProgramPT_Size3AdvancedEngine = KR-2L+ ‘Rhino’ Liquid Fuel Engine
	#L_ReProgramPT_SSME = S3 KS-25 ‘Vector’ Liquid Fuel Engine
	#L_ReProgramPT_Size3EngineCluster = S3 KS-25×4 ‘Mammoth’ Liquid Fuel Engine
	#L_ReProgramPT_LiquidEngineKE-1 = KR-1 ‘Mastodon’ Liquid Fuel Engine
	#L_ReProgramPD_LiquidEngineKE-1 = Considered to be the behemoth of rocket technology, THIS propulsion system is the pinnacle of power. You hear that? THIS one. Not the Rockomax Mainsail, not those cheaters over in our Cryogenics department strapping four Vectors together and calling it a ‘Mammoth’, and almost certainly not those Φ@#&ING COMMUNISTS over at Shikigami. (Hey, wait, where are you going?)
		// SRBs
	#L_ReProgramPT_MassiveBooster = S1 SRB-KD25k ‘Kickback’ Solid Rocket Booster
	#L_ReProgramPT_Pollux = S18 THK ‘Pollux’ Solid Rocket Booster
	#L_ReProgramPT_restock-srb-anvil-1 = S18 TSB ‘Anvil’ Solid Rocket Booster
	#L_ReProgramPT_Thoroughbred = S2-17 ‘Thoroughbred’ Solid Rocket Booster
	#L_ReProgramPT_Clydesdale = S2-33 ‘Clydesdale’ Solid Rocket Booster
		// Tanks
	#L_ReProgramPT_restock-fuel-tank-375-4 = S3-1800 Fuel Tank
	#L_ReProgramPT_Size3SmallTank = S3-3600 Fuel Tank
	#L_ReProgramPT_Size3MediumTank = S3-7200 Fuel Tank
	#L_ReProgramPT_Size3LargeTank = S3-14400 Fuel Tank
	#L_ReProgramPT_Size3To2Adapter_v2 = S3 ADTP-2-3 Adapter Tank
	#L_ReProgramPT_restock-fueltank-sphere-375-1 = S3-900R Hemispherical Fuel Tank
	#L_ReProgramPT_restock-nosecone-375-1 = S3-3600 Nosecone Fuel Tank
	#L_ReProgramPT_Size3_Size4_Adapter_01 = S4 ADTP-3-4 Adapter Tank
	#L_ReProgramPT_Size4_EngineAdapter_01 = S4 Engine Adapter Tank
	#L_ReProgramPT_Size4_Tank_01 = S4-64×100 Fuel Tank
	#L_ReProgramPT_Size4_Tank_02 = S4-128×100 Fuel Tank
	#L_ReProgramPT_Size4_Tank_03 = S4-256×100 Fuel Tank
	#L_ReProgramPT_Size4_Tank_04 = S4-512×100 Fuel Tank
	}
}