@AGENT[Kerlington?Model?Rockets?and?Paper?Products?Inc]:FOR[zzyReProgram] {
	@title = #L_ReProgramA_Kerl
	%description = #L_ReProgramA_KerlBlurb
}
@PART[seatExternalCmd|mk1pod_v2|Mk2Pod|mk1-3pod]:FOR[zzyReProgram] {
	%manufacturer = #L_ReProgramA_Kerl
}
@PART[radialDrogue|parachuteDrogue|parachuteSingle|parachuteRadial|parachuteLarge]:FOR[zzyReProgram] {
	%manufacturer = #L_ReProgramA_Kerl
}
@PART[solidBooster_sm_v2|solidBooster_v2|Mite|Shrimp]:FOR[zzyReProgram] {
	%manufacturer = #L_ReProgramA_Kerl
}
// Command pods
@PART[mk1pod_v2]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_mk1pod_v2
	@MODULE[ModulePartVariants]:NEEDS[ReStock] {
		@baseVariant = GrayAndWhite
	}
}
@PART[Mk2Pod]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_Mk2Pod
}
@PART[mk1-3pod]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_mk1-3pod
}
// SRBs
@PART[solidBooster_sm_v2]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_solidBooster_sm_v2
}
@PART[solidBooster_v2]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_solidBooster_v2
	@MODULE[ModulePartVariants]:NEEDS[ReStock] {
		@baseVariant = YellowAndWhite
	}
}
@PART[Mite]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_Mite
}
@PART[restock-srb-mallet-1]:NEEDS[ReStockPlus]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_restock-srb-mallet-1
	%category = Engine
	%TechHidden = False
	%manufacturer = #L_ReProgramA_Kerl
}
@PART[Shrimp]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_Shrimp
}
@PART[restock-srb-striker-1]:NEEDS[ReStockPlus]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_restock-srb-striker-1
	%category = Engine
	%TechHidden = False
	%manufacturer = #L_ReProgramA_Kerl
}

// Cleanup
!AGENT[FreeFall?Parachutes]:FINAL {} // All parachutes are now Kerlington, FreeFall is apocryphal [KSPCF]
!PART[restock-mk2-pod]:NEEDS[ReStockPlus]:FINAL {} // Redundant Mk2 Pod [Restock+]

Localization {
	en-us {
		// Agency
	#L_ReProgramA_Kerl = Kerlington Model Rockets and Paper Products, Inc.
	// #L_ReProgramA_KerlAgent = Kerlington Model Rockets and Paper Products, Incorporated
	#L_ReProgramA_KerlBlurb = Kerlington has a long history of introducing ground-breaking new technologies, many of which are now considered indispensable for rocketry and aerospace engineering. This has fostered a strong community of loyal Kerlington fans, as well as a similarly large group of disgruntled competitors.
		// Aero
	#L_ReProgramPD_basicFin
	#L_ReProgramPD_winglet
	#L_ReProgramPD_R8winglet
	#L_ReProgramPD_winglet3
		// Capsules
	#L_ReProgramPT_mk1pod_v2 = Command Pod Mk1
	#L_ReProgramPT_Mk2Pod = Command Pod Mk2
	#L_ReProgramPT_Mark1-2Pod = Command Pod Mk1-20
	#L_ReProgramPT_mk1-3pod = Command Pod Mk1-25
	#L_ReProgramPD_seatExternalCmd
		// Parachutes
	#L_ReProgramPD_parachuteDrogue
	#L_ReProgramPD_parachuteLarge
	#L_ReProgramPD_parachuteRadial
	#L_ReProgramPD_parachuteSingle
	#L_ReProgramPD_radialDrogue
		// SRBs
	#L_ReProgramPT_Mite = RT-FM1 ‘Mite’ Solid Rocket Booster
	#L_ReProgramPT_restock-srb-mallet-1 = RT-FM0 ‘Mallet’ Solid Rocket Booster
	#L_ReProgramPT_Shrimp = RT-F3S0 ‘Shrimp’ Solid Rocket Booster
	#L_ReProgramPT_restock-srb-striker-1 = RT-F2S1 ‘Striker’ Solid Rocket Booster
	#L_ReProgramPT_solidBooster_sm_v2 = RT-5 ‘Flea’ Solid Rocket Booster
	#L_ReProgramPT_solidBooster_v2 = RT-10 ‘Hammer’ Solid Rocket Booster
	}
}