@AGENT[Moving?Parts?Experts?Group]:FOR[zzzReProgram] {
	@title = #L_ReProgramA_MPEG
	%description = #L_ReProgramA_MPEGBlurb
}

Localization {
 en-us {
	  // Agency
	#L_ReProgramA_MPEG = Moving Parts Experts Group
	#L_ReProgramA_MPEGBlurb = The Moving Parts Experts Group started off as a mostly non-commercial initiative to bring some of the brightest minds together to create truly innovative and ground-breaking technologies for spacecraft construction. As is the case with many such enterprises, their initial investment funds very soon ran out and they were forced to start developing stuff that they could sell, quickly. As a result, the Group acquired a reputation for being always in a hurry, and always strapped for cash. They still try their best to stay true to their original motivations as much as possible though, and will always be willing to support any ventures that push the currently established boundaries.

	  // Landing struts
	#L_ReProgramPD_landingLeg1 =
	#L_ReProgramPD_landingLeg1-2 =
	#L_ReProgramPD_miniLandingLeg =
	  // Robotics
	#L_ReProgramPD_hinge_01 =
	#L_ReProgramPD_hinge_01_s =
	#L_ReProgramPD_hinge_03 =
	#L_ReProgramPD_hinge_03_s =
	#L_ReProgramPD_hinge_04 =
	#L_ReProgramPD_piston_01 =
	#L_ReProgramPD_piston_02 =
	#L_ReProgramPD_piston_03 =
	#L_ReProgramPD_piston_04 =
  }
}