@AGENT[O.M.B.?Demolition?Enterprises]:FOR[zzyReProgram] {
	@title = #L_ReProgramA_OMB
	%description = #L_ReProgramA_OMBBlurb
}
@PART[launchClamp1|Size1p5_Strut_Decoupler|HeatShield0|HeatShield1|HeatShield1p5|HeatShield2|HeatShield3]:FOR[zzyReProgram] {
	%manufacturer = #L_ReProgramA_OMB
}
// Decouplers + Separators
@PART[Decoupler_0|Decoupler_1|Decoupler_1p5|Decoupler_2|Decoupler_3|Decoupler_4|Separator_0|Separator_1|Separator_1p5|Separator_2|Separator_3|Separator_4]:FOR[zzyReProgram] {
	%manufacturer = #L_ReProgramA_OMB
	@MODULE[ModulePartVariants]:NEEDS[ReStock]
	{
	@baseVariant = YellowAndWhite
	}
}
// Clamps
@PART[launchClamp1]:FOR[zzyReProgram] {
	%category = Coupling
}
// Heat Shields
@PART[HeatShield0]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_HeatShield0
	%description = #L_ReProgramPD_HeatShield
}
@PART[HeatShield1|HeatShield1p5]:FOR[zzyReProgram] {
	@MODULE[ModulePartVariants]:NEEDS[ReStock]
	{
	@baseVariant = Red
	}
}
@PART[HeatShield1]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_HeatShield1
	%description = #L_ReProgramPD_HeatShield
}
@PART[HeatShield1p5]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_HeatShield1p5
	%description = #L_ReProgramPD_HeatShield
}
@PART[HeatShield2|HeatShield3]:FOR[zzyReProgram] {
	@MODULE[ModulePartVariants]:NEEDS[ReStock]
	{
	@baseVariant = Black
	}
}
@PART[HeatShield2]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_HeatShield2
	%description = #L_ReProgramPD_HeatShield
}
@PART[HeatShield3]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_HeatShield3
	%description = #L_ReProgramPD_HeatShield
}
// Cleanup
!PART[restock-heatshield-1875-1|restock-decoupler-1875-truss-1|restock-decoupler-1875-1|restock-separator-1875-1|restock-decoupler-5-1|restock-separator-5-1]:NEEDS[ReStockPlus]:FINAL {} // Redundant [Restock+]

Localization {
 en-us {
		// Agency
	#L_ReProgramA_OMB = O.M.B Demolition Enterprises
	#L_ReProgramA_OMBBlurb = For a company that's made a reputation for creating as much destruction as possible, O.M.B has found a remarkably suitable place for its highly volatile devices in the aerospace industry. Their precision, pyrotechnic-bolt Decouplers are second to none when the job calls for splitting spacecraft into multiple smaller ones.\n\nSome of their other demolition products, despite being heavily advertised as far more powerful disassembly tools, weren't nearly as successful. O.M.B is still unsure as to why those “clearly superior” products weren't so well received.

		// Multicouplers
	#L_ReProgramPT_adapterLargeSmallBi =
	#L_ReProgramPT_adapterLargeSmallQuad =
	#L_ReProgramPT_adapterLargeSmallTri =
	#L_ReProgramPT_stackBiCoupler_v2 =
	#L_ReProgramPT_stackQuadCoupler =
	#L_ReProgramPT_stackTriCoupler_v2 =
		// Heat Shields
	#L_ReProgramPT_HeatShield0 = HS-062 Pyrolytic Ablation Shield
	#L_ReProgramPT_HeatShield1 = HS-125 Pyrolytic Ablation Shield
	#L_ReProgramPT_HeatShield1p5 = HS-150 Pyrolytic Ablation Shield
	#L_ReProgramPT_HeatShield2 = HS-250 Pyrolytic Ablation Shield
	#L_ReProgramPT_HeatShield3 = HS-375 Pyrolytic Ablation Shield
	#L_ReProgramPM_HeatShield = O.M.B Demolition Enterprises + FLOOYD Dynamics Research Labs
	#L_ReProgramPD_HeatShield = Apparently air gets very hot at high speeds (Who knew?!). To combat this, we at O.M.B Demolition founded the Protection entering AtmoSphere [PeAS] joint venture with FLOOYD Dynamics—combining our expertise in explosive-bolt linkages and airstream protection to develop stageable, heavy-duty panels, which may be finely charred instead of the astronauts and / or experiments placed atop them.
		// Launch clamps
	#L_ReProgramPD_launchClamp0 =
	#L_ReProgramPD_launchClamp1 =
		// Radial decouplers
	#L_ReProgramPT_radialDecoupler =
	#L_ReProgramPT_radialDecoupler1-2 =
	#L_ReProgramPT_radialDecoupler2 =
		// Stack deccouplers and separators
	#L_ReProgramPT_Decoupler_0 =
	#L_ReProgramPT_Decoupler_1 =
	#L_ReProgramPT_Decoupler_1p5 =
	#L_ReProgramPT_Decoupler_2 =
	#L_ReProgramPT_Decoupler_3 =
	#L_ReProgramPT_Decoupler_4 =
	#L_ReProgramPT_Separator_0 =
	#L_ReProgramPT_Separator_1 =
	#L_ReProgramPT_Separator_1p5 =
	#L_ReProgramPT_Separator_2 =
	#L_ReProgramPT_Separator_3 =
	#L_ReProgramPT_Separator_4 =
	#L_ReProgramPM_Size1p5_Strut_Decoupler = O.M.B Demolition Enterprises + StrutCo
	#L_ReProgramPD_Size1p5_Strut_Decoupler =
	}
}