// We remove instances of Post-Kerbin Mining Corporation from the game. Kerbin isn't going anywhere soon,
// and our goal is space exploration, not space *exploitation*. It just doesn't fit the vibe, y'know?

@PART[fft-fission-orion-5-1]:NEEDS[FarFutureTechnologies]:FOR[zzzReProgram] {
  @title = #L_ReProgramPT_fft-fission-orion-5-1
  %manufacturer = #L_ReProgramA_FFTFission
  %description = #L_ReProgramPD_fft-fission-orion-5-1
}
@PART[fft-nswr-1]:NEEDS[FarFutureTechnologies]:FOR[zzzReProgram] {
  @title = #L_ReProgramPT_fft-nswr-1
  %manufacturer = #L_ReProgramA_FFTFission
}
@PART[fft-nswr-2]:NEEDS[FarFutureTechnologies]:FOR[zzzReProgram] {
  @title = #L_ReProgramPT_fft-nswr-2
  %manufacturer = #L_ReProgramA_FFTFission
}

Localization {
  en-us {
		// Agencies
	#L_ReProgramA_FFTFission = Winnfield Atomic Research

		// FarFuture Project Orion rename
	#L_ReProgramPT_fft-fission-orion-5-1 = X-12 ‘Saloon’ Nuclear Pulse Drive
		#L_ReProgramPD_fft-fission-orion-5-1 = Under the right conditions, the same sort of chain reaction that powers a Jebʼs Junkyard LV-N can run away to become very brief, very bright…and very, very big. The X-12…engine?…is a gigantic shock absorber, designed to harnesses the power of these ‘Nuclear Explosions’ to push spacecraft.\n\n<i>Be careful with it.</i>
		// FarFuture Nuclear Saltwater
	#L_ReProgramPT_fft-nswr-1 = X-2 ‘Heinlein’ Nuclear Salt Water Engine
	#L_ReProgramPT_fft-nswr-2 = X-42 ‘Niven’ Nuclear Salt Water Engine	
		// NearFuture parts
	#L_ReProgramPD_command-125-landing-1 = A two-kerbal capsule with a clever design. It comes with mounts for Chickadee engines, which allow abort procedures and propulsive landings.
	#L_ReProgramPD_command-25-landing-1 = The ultimate orbital drop-pod, capable of bringing 3 kerbals to a soft landing on any planet with its included Chickadee engines!\n\n(Chickadee engines not included. RCS is, however.)
	#L_ReProgramPD_engine-rocket-pack-1 = A monopropellant engine intended as a landing and abort system for advanced command pods. You can use them elsewhere, and youʼll get great thrust and gimbal, but we certainly hope you're not expecting efficiency.
	#L_ReProgramPD_nflv-engine-m1d-1 = A surprisingly simple and cheap booster engine, enough so to be assembled by child kerbals, a market in which this engine has seen great success. Moving parts, not for small children.
	#L_ReProgramPD_nflv-engine-m1d-vac-1 = The Otter, but in SPAAAAAACEEE (vaccum optimized!!) (Warranty void if ignited below 1 kPa.)
	#L_ReProgramPD_cryoengine-deinonychus-1 = A miracle of an engine designed for clustering and heavy re-use, perfect for more demanding, high-tech lifters.
	#L_ReProgramPD_cryoengine-eagle-1 = Even in space, you canʼt escape the Deinoychus. We now bring you the Eagle, a vaccum-optimized version that can break the sky on a budget. Methalox…uh…finds a way.
  }
}