Localization {
  en-us {
	  // Agency
	#L_ReProgramA_Probo = Probodobodyne Inc.
	// #L_ReProgramA_ProboAgent = Probodobodyne Incorporated
	#L_ReProgramA_ProboBlurb = Probodobodyne was at one point one of the leading (and few) names in the industry. Over the years though, the company has fallen somewhat behind the times, but they continue to maintain their philosophy that space exploration should be the privilege of the few who can overcome the challenges of conquering it, with minimal technological assistance.\n\nTheir products reflect that pragmatic and arguably obsolete outlook, even in spite of the many newer companies that are coming up around them with alternatives that make space travel far more accessible than it was back in the "early days". Despite all this, the company has retained a small but loyal following of hardcore fans, who live by their vision of a very selective industry, populated only by the very best astronauts and engineers.

	  // Command
	#L_ReProgramPT_kv1Pod = SV-1 ‘Onion’ Reentry Module
	#L_ReProgramPD_kv1Pod = The SV-1 is Probodobodyne's daring leap into the field of\nmanned capsule design. Under budgetary constraints that\ndrove the design bureau to tears, the engineers found them-\n-selves faced with the challenge of keeping the heat shield facing forward without reaction wheels.\nAn intern suggested making the whole thing a heat shield, and one integrated decoupler later, this spherical command module was born.
	#L_ReProgramPT_kv2Pod = SV-2 ‘Pea’ Reentry Module
	#L_ReProgramPD_kv2Pod = Probododyne found a market niche with the Onion, and as a result the SV-2 Reentry module was born—now fitting two Kerbals like peas in a pea pod.\n\nSome "unnecessary" equipment was removed from the SV-1's design to make room for the second seat. This decision has made the design bureau very unpopular with the astronauts.
	#L_ReProgramPT_kv3Pod = SV-3 ‘Pomegranate’ Reentry Module
	#L_ReProgramPD_kv3Pod = The Pomegranate is the ultimate in narrow-profile crew transport; you couldn't fit more Kerbals if you tried.\n\nProbododyne has, incidentally, learned why Kerlington cancelled their three-seater Mk1 Pod: With three seats fit into the same space as one, any occupants have severe difficulty moving their arms to access the controls.\nThey'll probably survive.
	  // Probes
	#L_ReProgramPD_probeCoreCube = 
	#L_ReProgramPD_probeCoreHex_v2 = 
	#L_ReProgramPD_HECS2_ProbeCore = 
	#L_ReProgramPD_probeCoreOcto2_v2 = 
	#L_ReProgramPD_probeCoreOcto_v2 = 
	#L_ReProgramPD_probeCoreSphere_v2 = 
	#L_ReProgramPD_roverBody_v2 = 
	  // Photovoltaic Panels
	#L_ReProgramPD_DeployedSolarPanel = 
	#L_ReProgramPD_largeSolarPanel = 
	#L_ReProgramPD_LgRadialSolarPanel = 
	#L_ReProgramPD_solarPanelsOX10C = The -10C versions of Probododyne's award winning line of photovoltaic cells have a unique feature: they're round! This special method of deployment offers yet another option for a spacecraft's power needs.\n\n<color=orange>WARNING: Not retractable once deployed!</color>
	#L_ReProgramPD_solarPanelOX10L = A larger version of the OX-4 series of solar panels, which includes advanced heat radiators and a deploying bracket to keep the panels clear of other senstive instruments on the craft.\n\n<color=orange>WARNING: Not retractable once deployed!</color>
	#L_ReProgramPD_solarPanels1 = 
	#L_ReProgramPD_solarPanels2 = 
	#L_ReProgramPD_solarPanels3 = The OX-4 is similar in design to the SP series solar panels, but without the heavy casing.\n\n<color=orange>WARNING: Not retractable once deployed!</color>
	#L_ReProgramPD_solarPanels4 = The OX-4 is similar in design to the SP series solar panels, but without the heavy casing. This model includes passive radiators on the reverse side, for better heat dissipation.\n\n<color=orange>WARNING: Not retractable once deployed!</color>
	#L_ReProgramPD_solarPanels5 = 
	#L_ReProgramPD_solarPanelSP10C = 
	#L_ReProgramPD_solarPanelSP10L = 
	  // Science
	#L_ReProgramPD_sensorAccelerometer = 
	#L_ReProgramPD_sensorAtmosphere = 
	#L_ReProgramPD_sensorBarometer = 
	#L_ReProgramPD_sensorGravimeter = 
	#L_ReProgramPD_sensorThermometer = 
	  // Fuselage
	#L_ReProgramPD_miniFuelTank = 
	#L_ReProgramPT_externalTankCapsule = ROUND-6 ‘Baguette’ Cylindrical Fuel Tank
		#L_ReProgramPD_externalTankCapsule =
	#L_ReProgramPT_externalTankRound = ROUND-4 ‘Dumpling’ Spherical Fuel Tank
		#L_ReProgramPD_externalTankRound =
	#L_ReProgramPT_externalTankToroid = ROUND-8 ‘Doughnut’ Toroidal Fuel Tank
		#L_ReProgramPD_externalTankToroid =
  }
}