@AGENT[Shikigami?Cooperative]:NEEDS[CryoEnginesExtensions]:AFTER[zzzReProgram] {
  @title = #L_ReProgramA_ShikiAgent
  %description = #L_ReProgramA_ShikiBlurb
}
// Hydrogen engines
@PART[CEX_LHL_Aso]:NEEDS[CryoEnginesExtensions]:AFTER[zzzReProgram] {
  %manufacturer = #L_ReProgramA_ShikiAgent
  @title = #L_ReProgramPT_CEX_LHL_Aso
  %description = #L_ReProgramPD_CEX_LHL_Aso
}

Localization {
  en-us {
	  // Agency
	#L_ReProgramA_Shiki = Shikigami Cooperative
	#L_ReProgramA_ShikiAgent = Shikigami Cooperative
	#L_ReProgramA_ShikiBlurb = Worker-owned, entirely self-managed, and producing the most powerful lifter engines on the market, Shikigamiʼs convictions represent a direct challenge to the status quo of Kerbin's aerospace economy at large; they work for minimal profit, dedicating the vast majority of their funding and resources to furthering engineering and rocket science. For the moment this appears to be doing quite well.\n\nTheir success, they would say, is also a statement—one which has the economists and shareholders at mega-corporations such as Rockomax Conglomerate shaking in their dress shoes. (Well, maybe not Rockomax, they're much too big—but Kerbodyne is certainly concerned.)
	  // Hydrogen
	#L_ReProgramPT_CEX_LHL_Datun = DF-M12K ‘Datun’ Liquid Hydrogen Engine
	#L_ReProgramPD_CEX_LHL_Datun =
	#L_ReProgramPT_CEX_LHL_Karakuni = DF-H18G ‘Karakuni’ Liquid Hydrogen Engine
	#L_ReProgramPD_CEX_LHL_Karakuni =
	#L_ReProgramPT_CEX_LHL_Kunlun = DF-H25G ‘Kunlun’ Liquid Hydrogen Engine
	#L_ReProgramPD_CEX_LHL_Kunlun =
	#L_ReProgramPT_CEX_LHL_Aso = DF-H37G ‘Aso’ Liquid Hydrogen Engine
	#L_ReProgramPD_CEX_LHL_Aso = Revealed at the 4+7th annual Rockets & Explosions festival, the DF-H37G produced an unthinkable reaction from the audience:\n\n“Good heavens, this is too crazy—what the heck would you need a lifter engine of this size for!?”
	#L_ReProgramPT_CEX_LHD_Hestia = DF-H06S ‘Hestia’ Liquid Hydrogen Engine
	#L_ReProgramPD_CEX_LHD_Hestia =
	  // Methane
	#L_ReProgramPT_CEX_LMS_Yiqi = DF-M06J ‘Yiqi’ Liquid Methane Engine
	#L_ReProgramPD_CEX_LMS_Yiqi =
	#L_ReProgramPT_CEX_LMO_Shikra = DF-M12K ‘Shikra’ Liquid Methane Engine
	#L_ReProgramPD_CEX_LMO_Shikra =
	#L_ReProgramPT_CEX_LMS_Achillo = DF-M12J ‘Achillobator’ Liquid Methane Engine
	#L_ReProgramPD_CEX_LMS_Achillo = 
	#L_ReProgramPT_CEX_LMO_Owl = DF-M25K ‘Owl’ Liquid Methane Engine
	#L_ReProgramPD_CEX_LMO_Owl =
	#L_ReProgramPT_CEX_LMS_Carnotaurus = DF-M25J ‘Carnotaurus’ Liquid Methane Engine
	#L_ReProgramPD_CEX_LMS_Carnotaurus =
	#L_ReProgramPT_CEX_LMS_Therizino = DF-M37J ‘Therizinosaurus’ Liquid Methane Engine
	#L_ReProgramPD_CEX_LMS_Therizino =
  }
}