@PART[PotatoRoid|PotatoComet]:AFTER[zzzReProgram] {
	%manufacturer = #L_ReProgramPM_Potato
	%description = #L_ReProgramPD_Potato
}
@PART[PotatoRoid]:AFTER[zzzReProgram] {
	@title = #L_ReProgramPT_PotatoRoid
}
@PART[PotatoComet]:AFTER[zzzReProgram] {
	@title = #L_ReProgramPT_PotatoComet
}
Localization {
	en-us {
	#L_ReProgramPT_PotatoRoid = An asteroid
	#L_ReProgramPT_PotatoComet = A comet
	#L_ReProgramPM_Potato = Outer space
	#L_ReProgramPD_Potato = A big ol' space rock.
	}
}