@AGENT[Vac-Co?Advanced?Suction?Systems]:AFTER[zzzReProgram] {
	@title = #L_ReProgramA_Vac
	%description = #L_ReProgramA_VacBlurb
}
@PART[nacelleBody|radialEngineBody]:AFTER[zzzReProgram] {
	%manufacturer = #L_ReProgramA_Vac
}
// Fuselage
@PART[nacelleBody]:AFTER[zzzReProgram] {
	%description = #L_ReProgramPD_nacelleBody
}

Localization {
	en-us {
		// Agency
	#L_ReProgramA_Vac = Vac-Co Advanced Suction Systems
	#L_ReProgramA_VacAgent = Vac-Co Advanced Suction Systems
	#L_ReProgramA_VacBlurb = Vac-Co is a relatively new name in the industry. With previous experience only as a manufacturer of housecleaning equipment and small appliances, their recent venture into aerospace engineering has been met with no small amount of skepticism. Nevertheless, they seem to know what they're doing, as their one product has been quite innovative in the spaceplane sector.
		// Intakes
	#L_ReProgramPD_nacelleBody = The Engine Nacelle is a self-contained solution for powering air-breathing engines. It includes some reserve fuel, making it a very practical option. Vac-Co Engineers assure us that these units are quite safe, and that the dents and burn marks will give yours a more unique look.\n\nOptimized for subsonic flight; includes very powerful static suction, befitting the company.
	}
}