@AGENT[WinterOwl?Aircraft?Emporium]:FOR[zzyReProgram] {
	@title = #L_ReProgramA_Winter
	%description = #L_ReProgramA_WinterBlurb
}
@PART[miniIntake|miniJetEngine|turboFanSize2|RotorEngine_02|RotorEngine_03|noseconeTiny|noseconeVS|miniFuselage]:FOR[zzyReProgram] {
	%manufacturer = #L_ReProgramA_Winter
}
// Engines
@PART[miniJetEngine]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_miniJetEngine
}
@PART[turboFanSize2]:FOR[zzyReProgram] {
	@title = #L_ReProgramPT_turboFanSize2
}

Localization {
	en-us {
		// Agency
	#L_ReProgramA_Winter = WinterOwl Aircraft Emporium
	#L_ReProgramA_WinterBlurb = WinterOwl is by no means comparable to other large aircraft companies in terms of sheer number of products they offer. However, the company is one of the best-known names in the industry as it's one of the oldest companies in operation.\n\nThis has earned them a reputation for being a friendly, reliable partner, which means they have good standings with many other companies. In the aerospace circles, it is considered very poor manners to be rude about WinterOwl or its products.
		// Main
	#L_ReProgramPD_airlinerCtrlSrf
	#L_ReProgramPD_airlinerMainWing
	#L_ReProgramPD_airlinerTailFin
	#L_ReProgramPD_airplaneTail
	#L_ReProgramPD_airplaneTailB
	#L_ReProgramPD_FanShroud_01
	#L_ReProgramPD_FanShroud_02
	#L_ReProgramPD_FanShroud_03
	#L_ReProgramPD_largeFanBlade
	#L_ReProgramPD_largeHeliBlade
	#L_ReProgramPD_largePropeller
	#L_ReProgramPD_mediumFanBlade
	#L_ReProgramPD_mediumHeliBlade
	#L_ReProgramPD_mediumPropeller
	#L_ReProgramPD_smallFanBlade
	#L_ReProgramPD_smallHeliBlade
	#L_ReProgramPD_smallPropeller
	#L_ReProgramPD_sweptWing
		// EVA
	#L_ReProgramPD_evaChute = 
		// C7 imports
	#L_ReProgramPD_miniFuselage =
	#L_ReProgramPD_miniIntake = 
	#L_ReProgramPT_miniJetEngine = J-20 ‘Juno’ Turbojet Engine
	#L_ReProgramPD_nacelleBody = 
	#L_ReProgramPD_navLight1 = 
	#L_ReProgramPD_RotorEngine_02 = 
	#L_ReProgramPD_RotorEngine_03 = 
	#L_ReProgramPT_turboFanSize2 = J-90 ‘Goliath’ Turbofan Engine
	}
}