Localization {
	en-us {
		#L_ReProgramPTp_liquidEngine2-2_v2 = Rockomax™ RE-L05 ‘Corgi’ Liquid Fuel Engine
		#L_ReProgramPDp_liquidEngine2-2_v2 = A more reasonable engine for rough economic times, the RE-L05 doubles as a BBQ when at low power.
		#L_ReProgramPT_liquidEngine2-2_v2-b2 = Rockomax™ RE-L10 ‘Poodle’ Liquid Fuel Engine
		#L_ReProgramPD_liquidEngine2-2_v2-b2 = A mid-range multi-nozzle engine designed for upper stages, fitting neatly between the performance of the Corgi and the Skipper.
		#L_ReProgramPTp_restock-engine-375-corgi = KR-10A ‘Labradoodle’ Liquid Fuel Engine
	}
}