@AGENT[StrutCo]:FOR[zREPROGRAM_core] {
	%title = #L_ReProgramA_Strut
	%description = #L_ReProgramA_StrutBlurb
}

@PART[strutConnector]:FOR[zREPROGRAM_core] {
	%manufacturer = #L_ReProgramA_Strut
	%description = #L_ReProgramPD_strutConnector
}
@PART[strutOcto]:FOR[zREPROGRAM_core] {
	%manufacturer = #L_ReProgramA_Strut
	%description = #L_ReProgramPD_strutOcto
}
@PART[strutCube]:FOR[zREPROGRAM_core] {
	%title = #L_ReProgramPT_strutCube
	%manufacturer = #L_ReProgramA_Strut
	%description = #L_ReProgramPD_strutCube
}

Localization {
 en-us {
	// Agency
	#L_ReProgramA_Strut = StrutCo Strut Company
	#L_ReProgramA_StrutAgent = StrutCo Strut Company
	#L_ReProgramA_StrutBlurb = One of the largest manufacturers of structural components for any purpose, StrutCo is by all measures a very well-established company. This may seem improbable, considering that they only have three aerospace products to their name…but when one of those products just so happens to be the legendary EAS-4 Strut Connector*, it becomes much more clear why their market share is so big.\n\n\n*(Recently won back from Kerlington Model Rockets in a rights dispute.)
	// Parts
		// Strut
	#L_ReProgramPT_strutConnector = EAS-4 Strut Connector
		#L_ReProgramPD_strutConnector = Commonly referred to as ‘Space Tape’ and highly regarded by many spacecraft engineers, Strut Connectors are designed to create a strong connection between two parts. Once both ends are placed, a structural beam links them; this creates a sturdier (and heavier) vehicle.\n\n(Trust us, this will soon become your favorite part.)
		// Truss
	#L_ReProgramPT_strutOcto = Octagonal Strut
		#L_ReProgramPD_strutOcto = StrutCo presents: Octagonal struts! Use them to mount stop signs or octopi.
	#L_ReProgramPT_strutCube = Octagonal Strut, Cubic
		#L_ReProgramPD_strutCube = Now, with the latest advances in technology, StrutCo brings you the Cubic Octagonal Strut—It's like our Octagonal Strut, but in the shape of a cube!\n\n(This business model is working, right?)
 }
}