@PART[evaScienceKit]:FOR[zREPROGRAM_core] {
 %manufacturer = #L_ReProgramA_RD
 %description = #L_ReProgramPD_evaScienceKit
}

Localization {
 en-us {
		// Agency
	#L_ReProgramA_RD = Research & Development Department

		// EVA
	#L_ReProgramPD_evaScienceKit = The R & D department has meticulously curated and assembled this case full of various devices and knicknacks, all of which are useful for science experiments. Despite observations to the contrary, we feel that the inability for astronauts to find a good use for the collapsible top hat and magic wand to be more of a lack of creativity on their part, rather than a result of us leaving things inside from a prior use case.
 }
}