@AGENT[Maxo?Construction?Toys]:FOR[zREPROGRAM_core] {
 %title = #L_ReProgramA_Maxo
 %description = #L_ReProgramA_MaxoBlurb
}

@PART[trussPiece1x]:FOR[zREPROGRAM_core] {
 %manufacturer = #L_ReProgramA_Maxo
 %description = #L_ReProgramPD_trussPiece1x
}
@PART[trussPiece3x]:FOR[zREPROGRAM_core] {
 %manufacturer = #L_ReProgramA_Maxo
 %description = #L_ReProgramPD_trussPiece3x
}
@PART[trussAdapter]:FOR[zREPROGRAM_core] {
 %manufacturer = #L_ReProgramA_Maxo
 %description = #L_ReProgramPD_trussAdapter
}

Localization {
 en-us {
		// Agency
	#L_ReProgramA_Maxo = MAXO Construction Toys
	#L_ReProgramA_MaxoAgent = MAXO Construction Toys
	#L_ReProgramA_MaxoBlurb = The Maxo Construction Toys engineers always enjoyed building things—especially out of little plastic bricks. So when they put their heads together and got a bit of money in the bank, they decided to do the same but with bits of lightweight metal.\N\NMaxo’s metallic constructions are renowned for their durability and build quality. In fact when sifting through the wreckage of yet another spectacular “landing”, their parts are almost always found intact.

		// Truss
	#L_ReProgramPD_trussPiece1x = New! Build the structure of your dreams with Maxo Construction Toys' Modular Girder Segments!

	#L_ReProgramPD_trussPiece3x = Now even bigger! Build larger structures, of larger dreams!

	#L_ReProgramPD_trussAdapter = This part allows you to attach Modular Girder parts to standard 1.25m attachment points.
 }
}