@AGENT[Periapsis?Rocket?Supplies?Co]:FOR[zREPROGRAM_core] {
 %title = #L_ReProgramA_Peri
 %description = #L_ReProgramA_PeriBlurb
}

@PART[sepMotor1]:FOR[zREPROGRAM_core] {
 %title = #L_ReProgramPT_sepMotor1
 %manufacturer = #L_ReProgramA_Peri
 %description = #L_ReProgramPD_sepMotor1
}
@PART[LaunchEscapeSystem]:FOR[zREPROGRAM_core] {
 %title = #L_ReProgramPT_LaunchEscapeSystem
 %manufacturer = #L_ReProgramA_Peri
 %description = #L_ReProgramPD_LaunchEscapeSystem
}
@PART[restock-engine-les-2]:FOR[zREPROGRAM_core] {
 %title = #L_ReProgramPT_restock-engine-les-2
 %manufacturer = #L_ReProgramA_Peri
 %description = #L_ReProgramPD_restock-engine-les-2
}

Localization {
 en-us {
		// Agency
	#L_ReProgramA_Peri = Periapsis Co. Rocket Supplies
	#L_ReProgramA_PeriAgent = Periapsis Rocket Supplies Company
	#L_ReProgramA_PeriBlurb = Periapsis RSC are notoriously private—the small roster of rocket supplies they do build does nothing but add to the mystique surrounding them. Many question why they don't build more parts, but Periapsis always answers this with a standard response of “wait and see what we'll do next!”.\n\nGiven that has been the standard response for more than a little while now, general consensus is that the lack of transparency is primarily a means to maintain interest in their niche of utilitarian solid motors.

		// Sepratron
	#L_ReProgramPT_sepMotor1 = Sepratron I Mini Rocket Motor
	#L_ReProgramPD_sepMotor1 = A small canister filled with what appears to be solid rocket fuel. Although initially designated as “really pretty crappy” due to its low power, Kerbal scientists have slowly warmed up to the Sepratron I's intended use cases, such as separating decoupled boosters.\n\n(For best results, angle before use.)

		// Launch Escape Systems
	#L_ReProgramPT_LaunchEscapeSystem = LES I Launch Escape Motor
	#L_ReProgramPD_LaunchEscapeSystem = This small solid rocket tower is designed to be attached to a command pod. In the event of a catastrophic failure, it can wrench the capsule up and away from a malfunctioning launch vehicle.\n\nIronically enough…while it is intended to never be used, it is a rather well selling product.

	#L_ReProgramPT_restock-engine-les-2 = LES I/II Launch Escape Motor
	#L_ReProgramPD_restock-engine-les-2 = A smaller solid rocket tower for yeeting smaller crews away from certain death.\n\nThis is designed to be attached to a command pod. In the event of a catastrophic failure, it can wrench the capsule up and away from a malfunctioning launch vehicle.
 }
}