@PART[PotatoRoid|PotatoComet]:FOR[zREPROGRAM_core] {
  %manufacturer = #L_ReProgramPM_Potato
  %description = #L_ReProgramPD_Potato
}
@PART[PotatoRoid]:FOR[zREPROGRAM_core] {
  @title = #L_ReProgramPT_PotatoRoid
}
@PART[PotatoComet]:FOR[zREPROGRAM_core] {
  @title = #L_ReProgramPT_PotatoComet
}
Localization {
  en-us {
	#L_ReProgramPT_PotatoRoid = An asteroid
	#L_ReProgramPT_PotatoComet = A comet
	#L_ReProgramPM_Potato = Outer space
	#L_ReProgramPD_Potato = A big ol' space rock.
  }
}