Localization {
 en-us {
	// Agency
	#L_ReProgramA_Dink = Dinkelstein Kermanʼs Construction Emporium
	#L_ReProgramA_DinkAgent = Dinkelstein Kermanʼs Construction Emporium
	#L_ReProgramA_DinkBlurb = Dinkelstein Kerman has become somewhat of a legend in the spacecraft industry, not least impressively because he vehemently claims to have been constructing and flying spaceships long before the first actual recorded instance of any such vehicle being assembled. This has led to some controversy and a lot of awkwardness between him and the Kerbin World-Firsts Record-Keeping Society. Be that as it may, Dinklestein's Emporium is still generally well regarded as a traditional, old-fashioned company, and their products are actually a lot less rusty than the company's owner.
	// Parts
	#L_ReProgramPT_EquiTriangle0
	#L_ReProgramPT_EquiTriangle1
	#L_ReProgramPT_EquiTriangle1p5
	#L_ReProgramPT_EquiTriangle2
	#L_ReProgramPT_lGripPad
	#L_ReProgramPT_lGripStrip
	#L_ReProgramPT_mGripPad
	#L_ReProgramPT_Panel0
	#L_ReProgramPT_Panel1
	#L_ReProgramPT_Panel1p5
	#L_ReProgramPT_Panel2
	#L_ReProgramPT_sGripPad
	#L_ReProgramPT_sGripStrip
	#L_ReProgramPT_structuralPanel1
	#L_ReProgramPT_structuralPanel2
	#L_ReProgramPT_Triangle0
	#L_ReProgramPT_Triangle1
	#L_ReProgramPT_Triangle1p5
	#L_ReProgramPT_Triangle2
 }
}