Localization {
  en-us {
	  // Agency
	#L_ReProgramA_ISP = Ionic Symphonic Protonic Electronics
	#L_ReProgramA_ISPAgent = Ionic Protonic Electronics dba ISP Electronics
	#L_ReProgramA_ISPBlurb = One of the leading names in spacecraft electronics, and not just because the name itself sounds so cool.\n\nIonic Symphonic Protonic Electronics has a large catalogue of components, ranging from simple comms devices to seriously cutting edge gear. This has made their products quite popular among aerospace engineers, and also nurtured a profound enmity from the pragmatic folks at Probodobodyne.\n\nThey were originally known as Ionic Protonic Electronics, but they added an extra rhyme after discovering that their name wasn't legally distinct from Zaltonic Electronics.

	  // Electric engines
	#L_ReProgramPD_ionEngine
	  // Generators
	#L_ReProgramPD_DeployedRTG
	#L_ReProgramPD_rtg = Through exploitation of the natural decay of Belsonium-238, this elegantly simple generator can provide consistent, stable power for decades.\n\nWhile it also produces a small amount of heat, the alpha decay is meant to stay *inside* the generator and so we highly advise against using it as a space heater or snack warmer.
	  // Communotron
	#L_ReProgramPD_commDish
	#L_ReProgramPD_DeployedSatDish
	#L_ReProgramPD_HighGainAntenna = The Communotron HG-55 high gain antenna allows for blazingly fast directional data transmission, and was originally designed for deep space probes.\n\nPlease note that ISP Electronics is not liable for any damages that might result from prolonged exposure to RF radiation.
	#L_ReProgramPD_HighGainAntenna5_v2
	#L_ReProgramPD_longAntenna
	#L_ReProgramPD_mediumDishAntenna
	#L_ReProgramPD_RelayAntenna100
	#L_ReProgramPD_RelayAntenna5
	#L_ReProgramPD_RelayAntenna50
	#L_ReProgramPD_SurfAntenna
	  // Science
	#L_ReProgramPD_DeployedIONExp
	  // Xenon
	#L_ReProgramPD_xenonTank
	#L_ReProgramPD_xenonTankLarge
	#L_ReProgramPD_xenonTankRadial
  }
}