Localization {
 en-us {
		// Agency
	#L_ReProgramA_Jeb = Jebediah Kermanʼs Junkyard & Spaceship Parts Co.
	#L_ReProgramA_JebAgent = Jebediah Kermanʼs Junkyard and Spaceship Parts Company
	#L_ReProgramA_JebBlurb = Jebʼs Junkyard is a case study in unwavering motivation against insurmountable odds. Though the namesake owner bought it with the intent of looking for salvageable aircraft, Jebediah Kerman would by chance end up developing the LV-T30 engine, helping Kerbalkind take its first steps towards the depths of space.\n\nIn the present, it has become a much larger junkyard, having had to expand its facilities and purchase surplus scrap to accommodate an ever-increasing demand for spacecraft components. Jebediah Kerman, meanwhile, has become one of Kerbin's most iconic names; he and his company now stand proudly as a symbol of the unstoppable Kerbal drive towards attempting the impossible…while grossly underestimating the gravity of the situation.

		// Engines
	#L_ReProgramPT_restock-engine-pug = LV-303 ‘Pug’ Liquid Fuel Engine

	#L_ReProgramPT_liquidEngine3_v2 = LV-909 ‘Terrier’ Liquid Fuel Engine

	#L_ReProgramPT_restock-engine-125-valiant = LV-T15 ‘Valiant’ Liquid Fuel Engine
	
	#L_ReProgramPT_liquidEngine2_v2 = LV-T45 ‘Swivel’ Liquid Fuel Engine

	#L_ReProgramPT_liquidEngine_v2 = LV-T30 ‘Reliant’ Liquid Fuel Engine

	#L_ReProgramPT_microEngine_v2 = LV-1 ‘Ant’ Liquid Fuel Engine
	
	#L_ReProgramPT_radialEngineMini_v2 = LV-1R ‘Spider’ Liquid Fuel Engine

	#L_ReProgramPT_nuclearEngine = LV-N ‘NERV’ Atomic Rocket Motor

	#L_ReProgramPT_restock-engine-cherenkov = LV-NB ‘SWERV’ Atomic Rocket Motor
	#L_ReProgramPD_restock-engine-cherenkov = By popular demand, Jebʼs Junkyard has brought a powerful large nuclear engine to market. Like its smaller cousin the LV-N, the LV-NB runs on only Liquid Fuel—and as a result of the large development budget, gimballing mechanisms have been installed on the turbopump exhaust ducts, allowing limited thrust-vectoring capabilities.

		// Fuselage
	#L_ReProgramPT_adapterSmallMiniShort =
	#L_ReProgramPT_adapterSmallMiniTall =
	#L_ReProgramPT_fuelTankSmallFlat =
	#L_ReProgramPT_fuelTankSmall =
	#L_ReProgramPT_fuelTank =
	#L_ReProgramPT_fuelTank_long =

	#L_ReProgramPT_restock-fueltank-sphere-125-1 = FL-T50-R Hemispherical Fuel Tank

		// MH Engines
	#L_ReProgramPT_LiquidEngineLV-T91 = LV-TX91 ‘Cheetah’ Liquid Fuel Engine

	#L_ReProgramPT_LiquidEngineLV-TX87 = LV-TX87 ‘Bobcat’ Liquid Fuel Engine

	#L_ReProgramPT_LiquidEngineRK-7 = LR-7 ‘Kodiak’ Liquid Fuel Engine

	#L_ReProgramPT_LiquidEngineRV-1 = LR-1 ‘Cub’ Liquid Fuel Engine

		// MH Fuselage
	#L_ReProgramPT_Size1p5_Size0_Adapter_01 = PL-A150 Adapter Tank

	#L_ReProgramPT_Size1p5_Size1_Adapter_01 = PL-A151L Adapter Tank

	#L_ReProgramPT_Size1p5_Size1_Adapter_02 = PL-A151S Adapter Tank

	#L_ReProgramPT_Size1p5_Tank_01 = PL-TX220 Fuel Tank

	#L_ReProgramPT_Size1p5_Tank_02 = PL-TX440 Fuel Tank

	#L_ReProgramPT_Size1p5_Tank_03 = PL-TX900 Fuel Tank

	#L_ReProgramPT_Size1p5_Tank_04 = PL-TX1800 Fuel Tank

	#L_ReProgramPT_restock-fueltank-sphere-1875-1 = PL-TX220–R Hemispherical Fuel Tank

	#L_ReProgramPT_Size1p5_Size2_Adapter_01 = PL-AX215 Adapter Tank

	#L_ReProgramPT_Size1p5_Tank_05 = PL-C1000 Booster Tank
	#L_ReProgramPM_Size1p5_Tank_05 = Jebʼs Junkyard & Spaceship Parts + Periapsis Rocket Supplies

		// Station
	#L_ReProgramPT_crewCabin = PPD-10 ‘Hitchhiker’ Crew Storage Container
	#L_ReProgramPT_cupola = PPD-12 Cupola Module

		// EVA
	#L_ReProgramPT_evaRepairKit = EVA Repair Kit
	#L_ReProgramPD_evaRepairKit = This repair kit has some generic widgets, tape, tools, and other knicknacks to allow intrepid Kerbals to perform repairs upon parts that have suffered damage or unplanned dissassembly.\n\n<color=orange>Note: Repair kits will be used up during repairs, and more than one repair kit may be required for especially large parts.</color>
	#L_ReProgramPT_groundLight1 = WL-A Work Lamp, Small
	#L_ReProgramPT_groundLight2 = WL-B Work Lamp, Stand
 }
}