Localization {
  en-us {
	  // Agency
	#L_ReProgramA_Kerl = Kerlington Model Rockets and Paper Products, Inc.
	// #L_ReProgramA_KerlAgent = Kerlington Model Rockets and Paper Products, Incorporated
	#L_ReProgramA_KerlBlurb = Kerlington has a long history of introducing ground-breaking new technologies, many of which are now considered indispensable for rocketry and aerospace engineering. This has fostered a strong community of loyal Kerlington fans, as well as a similarly large group of disgruntled competitors.
	  // Aero
	#L_ReProgramPD_basicFin
	#L_ReProgramPD_winglet
	#L_ReProgramPD_R8winglet
	#L_ReProgramPD_winglet3
	  // Capsules
	#L_ReProgramPD_mk1pod_v2
	#L_ReProgramPD_Mk2Pod
	#L_ReProgramPT_Mark1-2Pod = Mk1-20 Command Pod
	#L_ReProgramPT_mk1-3pod = Mk1-25 Command Pod
	#L_ReProgramPD_seatExternalCmd
	  // Parachutes
	#L_ReProgramPD_parachuteDrogue
	#L_ReProgramPD_parachuteLarge
	#L_ReProgramPD_parachuteRadial
	#L_ReProgramPD_parachuteSingle
	#L_ReProgramPD_radialDrogue
	  // SRBs
	#L_ReProgramPT_Mite = RT-FM1 ‘Mite’ Solid Rocket Booster
	#L_ReProgramPT_Shrimp = RT-F3S0 ‘Shrimp’ Solid Rocket Booster
	#L_ReProgramPT_solidBooster_sm_v2 = RT-5 ‘Flea’ Solid Rocket Booster
	#L_ReProgramPT_solidBooster_v2 = RT-10 ‘Hammer’ Solid Rocket Booster
  }
}