Localization {
 en-us {
	// Agency
	#L_ReProgramA_Light = LightYear Tire Company
	#L_ReProgramA_LightAgent = LightYear Tire Company
	#L_ReProgramA_LightBlurb = Allegedly used on more aircraft and spaceplanes than any other tire, LightYear's overspecialization leaves them envious of Kerbal Motion's wider adoption. In order to compensate, they've researched tougher and tougher reinforced compounds from which to build their landing gear, meaning their products effectively never wear out…but even so, the company's claim that they would last for an *actual* light year's worth of landings aren't very likely.

	// Parts
	#L_ReProgramPD_GearFixed =
	#L_ReProgramPD_GearFree =
	#L_ReProgramPD_GearLarge =
	#L_ReProgramPD_GearMedium =
	#L_ReProgramPD_GearSmall =
	#L_ReProgramPD_SmallGearBay =
 }
}