Localization {
 en-us {
	// Agency
	#L_ReProgramA_FFTFission = Winnfield Atomic Research
	// Parts
		// FFT Orion Drive
	#L_ReProgramPT_fft-fission-orion-5-1 = X-12 ‘Saloon’ Nuclear Pulse Drive
		#L_ReProgramPD_fft-fission-orion-5-1 = Under the right conditions, the same sort of chain reaction that powers a Jeb's Junkyard LV-N can run away to become very brief, very bright…and very, very big. This engine is essentially a giant shock-absorber, designed to harnesses the power of these ‘Nuclear Explosions’ to push spacecraft.\n\n<i>Be careful with it.</i>
		// FFT Nuclear Saltwater
	#L_ReProgramPT_fft-nswr-1 = X-2 ‘Heinlein’ Nuclear Salt Water Engine
	#L_ReProgramPT_fft-nswr-2 = X-42 ‘Niven’ Nuclear Salt Water Engine
 }
}