Localization {
  en-us {
	  // Agency
	#L_ReProgramA_React = Reaction Systems Limited
	#L_ReProgramA_ReactBlurb = Reaction Systems is a small company which developed the famous EVA Jetpack and enjoyed a reasonable amount of success with their Place-Anywhere series of Linear RCS Ports. These days, however, nobody knows for certain what they're working on.\n\nEven though Reaction Systems is most definitely not the largest business out there, they try to make up for it by supporting all pioneering endeavours…and their eagerness to offer science-gathering contracts lends credit to speculation that they may be up to something.
	  // EVA
	#L_ReProgramPD_evaJetpack = The EVA jetpack has been a workhorse of astronauts for years. It has been so useful that some people have taken to wearing them inside the complex, back home, and even in their showers!\n\nIt gives unparalleled mobility in space and low gravity environments, but can be tricky to master. Incidences of injury while using one have dropped to nearly 10% after sufficient training.
	  // RCS
	#L_ReProgramPD_linearRcs = For every space that really needs an RCS thruster, Reaction Systems LTD has you covered with its Place-Anywhere 7 RCS Port!
	#L_ReProgramPT_vernierEngine = VR-N1ER ‘Vernor’ Bipropellant RCS Port
	#L_ReProgramPD_vernierEngine = The VR-N1ER Veer-Govenor is an attitude control thruster. It is linked to RCS controls, but fires the Fuel and Oxidizer of a craft's fuel reserves, making it significantly more powerful than typical RCS thrusters.\n\nIt is, however, bulky, and features only one outwards nozzle—but most would agree that this is an acceptable trade-off for the additional punch which it packs!
	#L_ReProgramPD_RCSLinearSmall = The smallest RCS thruster available, Reaction Systems' Place-Anywhere 1 is useful when saving a few kilos is more important than snappier controls—such as on small probes!
	  // Engines
	#L_ReProgramPT_omsEngine = O-10 "Puff" Monopropellant Fuel Engine
	#L_ReProgramPD_omsEngine =
  }
}