Localization {
 en-us {
		// Agency
	#L_ReProgramA_Rocko = Rockomax Conglomerate
	#L_ReProgramA_RockoAgent = Rockomax Conglomerate
	#L_ReProgramA_RockoBlurb = Indisputably the largest supplier of rocketry components out there, Rockomax products are widely regarded as the most accessible way to get into space. This has earned them a somewhat negative reputation among the more posh or avant-garde engineers, some even outright refusing to admit to having used Rockomax™ brand products.\n\nBe that as it may, Rockomax's gigantic presence in the industry cannot be gainsaid, and their products are actually pretty good value, even if they do lack the ‘trendy’ feel of the more up-scale rocketry brands. They are a massively large corporation, so donʼt expect them to cut you very special deals; they are already giving all their customers a bulk discount plus their ‘super-value’ deals when using products from their partner brands…\n\n…all this provided, of course, that you have a membership card with you when you go shopping at their warehouses.

		// Engines
	#L_ReProgramPT_liquidEngineMini_v2 = Rockomax™ 48-7S ‘Spark’ Liquid Fuel Engine
	#L_ReProgramPD_liquidEngineMini_v2 = The 48-7S may be small, but it packs quite a punch for its size. This little engine is a testament to how bigger does not always mean better, even if that contradicts the rest of our marketing department…\n\n…the box it comes in is pretty cool, in any case.

	#L_ReProgramPT_smallRadialEngine_v2 = Rockomax™ 24-77 "‘Twitch’ Liquid Fuel Engine
	#L_ReProgramPD_smallRadialEngine_v2 = Tiny engine!—But very useful, good for craft where larger radial engines wonʼt fit, or when you want more control with large lifter engines. You may need a few of them to lift heavy objects unassisted, however.
	
	#L_ReProgramPT_restock-engine-torch = Rockomax™ Mark 1H ‘Torch’ Liquid Fuel Engine

	#L_ReProgramPT_radialLiquidEngine1-2 = Rockomax™ Mark 55 ‘Thud’ Liquid Fuel Engine

	#L_ReProgramPT_liquidEngine2-2_v2 = Rockomax™ RE-L10 ‘Poodle’ Liquid Fuel Engine

	#L_ReProgramPT_engineLargeSkipper_v2 = Rockomax™ RE-I5 ‘Skipper’ Liquid Fuel Engine

	#L_ReProgramPT_liquidEngineMainsail_v2 = Rockomax™ RE-M3 ‘Mainsail®’ Liquid Fuel Engine

	#L_ReProgramPT_solidBooster1-1 = Rockomax™ BACC ‘Thumper’ Solid Fuel Booster

		// Fuselage
	#L_ReProgramPT_largeAdapter = Rockomax Brand™ Adapter 01

	#L_ReProgramPT_largeAdapter2 = Rockomax Brand™ Adapter 02

	#L_ReProgramPT_Rockomax8BW = Rockomax™ X200-8 Fuel Tank

	#L_ReProgramPT_Rockomax16_BW = Rockomax™ X200-16 Fuel Tank

	#L_ReProgramPT_Rockomax32_BW = Rockomax™ X200-32 Fuel Tank

	#L_ReProgramPT_Rockomax64_BW = Rockomax™ X200 Jumbo-64® Fuel Tank

	#L_ReProgramPT_restock-fueltank-sphere-25-1 = Rockomax™ X200-4R Hemispherical Fuel Tank

		// Drills
	#L_ReProgramPT_RadialDrill = Drill-O-Matic™ Resource Harvester
	#L_ReProgramPD_RadialDrill = Designed to help extract valuable resources from the crust of planets and asteroids, the Drill-O-Matic uses a rotary drill combined with an internal transfer auger to pull crushed regolith into holding tanks for later processing. … Resource processors operate best at their ideal operating temperatures, and feature automatic shutdown in the event of dangerous overheating. Radiators can be used to help manage excess heat.\n<color=KSPUnnamedCyan>Please allow skilled Engineers to operate for best results.</color>

	#L_ReProgramPT_MiniDrill = Drill-O-Matic™ Resource Harvester Jr.
	#L_ReProgramPD_MiniDrill = A smaller version of the popular Drill-O-Matic, this drill is designed to help extract valuable resources from the crust of planets and asteroids (unlike it's larger cousin, this smaller model is only suitable for ore concentrations above 2.5 percent). … Resource processors operate best at their ideal operating temperatures, and feature automatic shutdown in the event of dangerous overheating. Radiators can be used to help manage excess heat.\n<color=KSPUnnamedCyan>Please allow skilled Engineers to operate for best results.</color>


	#L_ReProgramPT_ISRU = Convert-O-Tron™ 250 Resource Utilizer
	#L_ReProgramPD_ISRU = This mobile processing plant can take raw materials containing even trace amounts of oxygen and hydrogen, and crack them into useful fuel products. … Resource processors operate best at their ideal operating temperatures, and feature automatic shutdown in the event of dangerous overheating. Radiators can be used to help manage excess heat.\n<color=KSPUnnamedCyan>Please allow skilled Engineers to operate for best results.</color>

	#L_ReProgramPT_MiniISRU = Convert-O-Tron™ 125 Resource Utilizer
	#L_ReProgramPD_MiniISRU = A smaller version of Kerbodyne's mobile processing plant, this module can take raw materials containing even trace amounts of oxygen and hydrogen, and crack them into useful fuel products (though this lighter model is less efficient, and not designed for long-term operations). … Resource processors operate best at their ideal operating temperatures, and feature automatic shutdown in the event of dangerous overheating. Radiators can be used to help manage excess heat.\n<color=KSPUnnamedCyan>Please allow skilled Engineers to operate for best results.</color>

		// Holding tanks
	#L_ReProgramPT_RadialOreTank = Rockomax™ XR-06 Radial Holding Tank
	#L_ReProgramPT_SmallTank = Rockomax™ XR-12 Small Holding Tank
	#L_ReProgramPT_restock-oretank-1875-1 = Rockomax™ XR-15 Medium Holding Tank
	#L_ReProgramPT_LargeTank = Rockomax™ XR-25 Large Holding Tank
	#L_ReProgramPT_restock-oretank-375-1 = Rockomax™ XR-37 Jumbo Holding Tank
 }
}