Localization {
  en-us {
	  // Agency
	#L_ReProgramA_Rokea = RÖKEA Inc.
	// #L_ReProgramA_RokeaAgent = RÖKEA Incorporated
	#L_ReProgramA_RokeaBlurb = Originally a supplier of ready-to-build furniture, RÖKEA provides a number of products...  however, they are most infamously known for their ‘vertical mobility enhancer’ product line, which they go to great lengths to ensure are not mistaken for simplistic ladders. Some say they are failing miserably in that effort, even though their representatives will very eagerly educate all who come within earshot about the differences between a ladder and a vertical mobility enhancement apparatus upon the slightest utturance of the word ‘ladder’.\n\nPerhaps this communications strategy is part of the reason nobody cares.

	  // Lights
	#L_ReProgramPD_domeLight1 =
	#L_ReProgramPD_spotLight1_v2 =
	#L_ReProgramPD_spotLight2_v2 =
	#L_ReProgramPD_spotLight3 =
	#L_ReProgramPD_stripLight1 =
	  // Mobility enhancers
	#L_ReProgramPD_ladder1 =
	#L_ReProgramPT_telescopicLadder = Telus Mobility Enhancer
	#L_ReProgramPD_telescopicLadder = The Telus Mobility Enhancer comes equipped with telescopic extension technology.\nRecommended load: 0.5 kerbals.
	#L_ReProgramPT_telescopicLadderBay = Telus-LV Bay Mobility Enhancer
	#L_ReProgramPD_telescopicLadderBay = The Telus-LV Bay Mobility Enhancer comes equipped with advanced telescopic extension technology.\nRecommended load: 1.5 kerbals.
	  // Engine plates
	#L_ReProgramPD_EnginePlate1p5 =
	#L_ReProgramPD_EnginePlate2 = 
	#L_ReProgramPD_EnginePlate3 =
	#L_ReProgramPD_EnginePlate4 =
	#L_ReProgramPD_EnginePlate5 =
	#L_ReProgramPT_EnginePlate = Now that everyone buys our Illuminators and Mobility Enhancers instead of furniture, we at RÖKEA have found ourselves with a surplus of brittle fiberboard and ductwork-grade aluminium…so to get rid of the glut of excess material, we've decided to branch out and seize the one niche in Spacecraft coupling that O.M.B Demolitions and Coop's Connectors haven't cornered.\n\nFor legal distinction from the TD line of decouplers, the arrow on engine plates points to the stage that will be dropped, rather than the remainder of the rocket. Try to imagine the engines like the candles on an upside-down birthday cake.
	  // Structural tubes
	#L_ReProgramPD_Tube1 =
	#L_ReProgramPD_Tube1p5 =
	#L_ReProgramPD_Tube2 =
	#L_ReProgramPD_Tube3 =
	#L_ReProgramPD_Tube4 =
  }
}