Localization {
 en-us {
		// Agency
	#L_ReProgramA_Sean = Seanʼs Cannery
	#L_ReProgramA_SeanAgent = Seanʼs Cannery
	#L_ReProgramA_SeanBlurb = Many question the reasoning behind Seanʼs Cannery–known for their very excellent canned foods products–setting out on a venture into the aerospace engineering world. Despite the criticism, none can dispute that their flagship products, the Lander Can series of capsules, has proven themselves many times over as a reliable and perhaps not surprisingly, one of the most air-tight crew carrying modules available today. Lander Can crews often praise the module for its ability to keep stowed snacks crisp and fresh, and complain of how on other pods they become mushy after just a few days into the mission.


		// Lander cans
	#L_ReProgramPT_landerCabinSmall = Mk1 Lander-Can
	#L_ReProgramPD_landerCabinSmall = This single-seat capsule was designed for lightweight non-atmospheric landers. Its occupant is protected from unplanned lithobraking by our novel full-body crumple-zone technology.


	#L_ReProgramPT_mk2LanderCabin_v2 = Mk2 Lander-Can		
	#L_ReProgramPD_mk2LanderCabin_v2 = This cozy capsule is a lightweight two-seat lander—and its very versatile, more than capable of transporting crew to the surface of most bodies they wish to expore.  However, don't expect it to survive atmospheric entry (or even a sneeze).


	#L_ReProgramPT_MEMLander = Münar Excursion Can
	#L_ReProgramPD_MEMLander = After hearing pilots refer to their current line of landers as ‘easily crushed tin cans’, the marketing department decided that what customers really wanted was a lander that resembled an already-crushed tin can.\n\nWarranty void if deployed in exterior atmosphere thicker than interior atmosphere.

		// Service modules
	#L_ReProgramPD_ServiceBay_125_v2 =
	#L_ReProgramPD_ServiceBay_250_v2 =
	#L_ReProgramPD_ServiceModule18 =
	#L_ReProgramPD_ServiceModule25 =
	#L_ReProgramPD_Size1to0ServiceModule =
 }
}