Localization {
 en-us {
	// Agency
	#L_ReProgramA_Zaltonic = Zaltonic Electronics
	#L_ReProgramA_ZaltonicAgent = Zaltonic Electronics
	#L_ReProgramA_ZaltonicBlurb = Zaltonics isn't exactly known as a strong leader in the electronic components industry, rather more as a somewhat utilitarian company that lacks a certain amount of ambition. These traits however, have made Zaltonic indispensable in their own way, as they are willing to take on the manufacturing of the less exciting devices, and they've become quite good at doing that in a quick and cost-effective way. Their products might not be all the rage, but when your fancy remote guidance unit runs out of juice, chances are you'll be using a Zaltonics battery to keep it powered.

	// Parts
		// Fuel Cells
	#L_ReProgramPD_FuelCell
	#L_ReProgramPD_FuelCellArray
		// Batteries
	#L_ReProgramPD_batteryBank
	#L_ReProgramPD_batteryBankLarge
	#L_ReProgramPD_batteryBankMini
	#L_ReProgramPD_batteryPack
	#L_ReProgramPD_ksp_r_largeBatteryPack
		// Lamps
	#L_ReProgramPD_groundLight1
	#L_ReProgramPD_groundLight2
 }
}