@ORGANIZERSUBCATEGORY[pods]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_pods
}
@ORGANIZERSUBCATEGORY[landers]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 15
}
@ORGANIZERSUBCATEGORY[cockpits]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_cockpits
	@Priority = 25
}
@ORGANIZERSUBCATEGORY[probes]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_probes
	@Priority = 35
}
ORGANIZERSUBCATEGORY {
	name = guidance
	Label = #L_RPVABO_guidance
	Priority = 40
	CategoryPriority = 0
}
@ORGANIZERSUBCATEGORY[cupolas]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,StationPartsExpansionRedux] {
	@Label = #L_RPVABO_cupolas
	@Priority = 45
}
@ORGANIZERSUBCATEGORY[station]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 50
}

@ORGANIZERSUBCATEGORY[lfo]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_lfo1
}
ORGANIZERSUBCATEGORY {
	name = lfo2
	Label = #L_RPVABO_lfo2
	Priority = 20
	CategoryPriority = 5
}
@ORGANIZERSUBCATEGORY[monoprop]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_monoprop
	@Priority = 30
}
@ORGANIZERSUBCATEGORY[lf]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_lf
	@Priority = 40
}
@ORGANIZERSUBCATEGORY[xenon]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_xenon
	@Priority = 50
}
@ORGANIZERSUBCATEGORY[argon]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_argon
	@Priority = 60
}
@ORGANIZERSUBCATEGORY[lithium]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_lithium
	@Priority = 70
}
@ORGANIZERSUBCATEGORY[nuclearFuel]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_nuclearFuel1
	@Priority = 80
}
ORGANIZERSUBCATEGORY {
	name = nuclearFuel2
	Label = #L_RPVABO_nuclearFuel2
	Priority = 90
	CategoryPriority = 5
}
ORGANIZERSUBCATEGORY {
	name = nuclearFuel3
	Label = #L_RPVABO_nuclearFuel3
	Priority = 100
	CategoryPriority = 50
}
@ORGANIZERSUBCATEGORY[fusionFuel]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,FarFutureTechnologies] {
	@Priority = 110
}
@ORGANIZERSUBCATEGORY[antimatterFuel]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,FarFutureTechnologies] {
	@Label = #L_RPVABO_antimatterFuel
	@Priority = 120
}
ORGANIZERSUBCATEGORY {
	name = plumbing
	Label = #L_RPVABO_plumbing
	Priority = 150
	CategoryPriority = 50
}

@ORGANIZERSUBCATEGORY[cryogenicEngines]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_cryogenicEngines1
	@Priority = 15
}
ORGANIZERSUBCATEGORY {
	name = cryogenicEngines2
	Label = #L_RPVABO_cryogenicEngines2
	Priority = 20
	CategoryPriority = 10
}
@ORGANIZERSUBCATEGORY[nuclearEngines]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_nuclearEngines1
	@Priority = 25
}
@ORGANIZERSUBCATEGORY[solidEngines]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 50
}
ORGANIZERSUBCATEGORY {
	name = solidEngines2
	Label = #L_RPVABO_solidEngines2
	Priority = 51
	CategoryPriority = 10
}
ORGANIZERSUBCATEGORY {
	name = nuclearEngines2
	Label = #L_RPVABO_nuclearEngines2
	Priority = 55
	CategoryPriority = 50
}

@ORGANIZERSUBCATEGORY[rcs]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_rcs1
}
ORGANIZERSUBCATEGORY {
	name = rcs2
	Label = #L_RPVABO_rcs2
	Priority = 10
	CategoryPriority = 15
}
@ORGANIZERSUBCATEGORY[rcsElectric]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,NearFuturePropulsion] {
	@Label = #L_RPVABO_rcs3
	@Priority = 12
	@CategoryPriority = 15
}

@ORGANIZERSUBCATEGORY[adapters]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_adapters
}
@ORGANIZERSUBCATEGORY[radialAdapters]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_radialAdapters
}
@ORGANIZERSUBCATEGORY[crewTubes]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,StationPartsExpansionRedux] {
	@Label = #L_RPVABO_crewTubes
}

ORGANIZERSUBCATEGORY {
	name = fuelRotors
	Label = #L_RPVABO_fuelRotors
	Priority = 25
	CategoryPriority = 25
}
ORGANIZERSUBCATEGORY {
	name = gripPads
	Label = #L_RPVABO_gripPads
	Priority = 30
	CategoryPriority = 25
}
ORGANIZERSUBCATEGORY {
	name = controllers
	Label = #L_RPVABO_controllers
	Priority = 35
	CategoryPriority = 25
}

@ORGANIZERSUBCATEGORY[decouplers]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_decouplers
}
ORGANIZERSUBCATEGORY {
	name = radialDecouplers
	Label = #L_RPVABO_radialDecouplers
	Priority = 7
	CategoryPriority = 30
}
@ORGANIZERSUBCATEGORY[separators]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_separators
}
@ORGANIZERSUBCATEGORY[dockingPorts]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_dockingPorts1
}
ORGANIZERSUBCATEGORY {
	name = dockingPorts2
	Label = #L_RPVABO_dockingPorts2
	Priority = 26
	CategoryPriority = 30
}
ORGANIZERSUBCATEGORY {
	name = dockingPorts3
	Label = #L_RPVABO_dockingPorts3
	Priority = 28
	CategoryPriority = 30
}
ORGANIZERSUBCATEGORY {
	name = dockingPorts4
	Label = #L_RPVABO_dockingPorts4
	Priority = 30
	CategoryPriority = 30
}
ORGANIZERSUBCATEGORY {
	name = dockingPorts5
	Label = #L_RPVABO_dockingPorts5
	Priority = 32
	CategoryPriority = 30
}
@ORGANIZERSUBCATEGORY[grapples]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 40
}
ORGANIZERSUBCATEGORY {
	name = launchClamps
	Label = #L_RPVABO_launchClamps
	Priority = 45
	CategoryPriority = 30
}

@ORGANIZERSUBCATEGORY[cargoBays]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_cargoBays1
}
ORGANIZERSUBCATEGORY {
	name = cargoBays2
	Label = #LOC_VABOrganizer_Subcategory_cargoBays
	Priority = 20
	CategoryPriority = 35
}

ORGANIZERSUBCATEGORY {
	name = heavySurfaces
	Label = #L_RPVABO_heavySurfaces
	Priority = 30
	CategoryPriority = 40
}

@ORGANIZERSUBCATEGORY[heatShields]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_heatShields
}
ORGANIZERSUBCATEGORY {
	name = radiators2
	Label = #L_RPVABO_radiators2
	Priority = 15
	CategoryPriority = 50
}
@ORGANIZERSUBCATEGORY[radiators]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 20
	@Label = #L_RPVABO_radiators1
}
ORGANIZERSUBCATEGORY {
	name = heatSinks
	Label = #L_RPVABO_heatSinks
	Priority = 30
	CategoryPriority = 50
}

@ORGANIZERSUBCATEGORY[capacitors]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,NearFutureElectrical] {
	@Priority = 10
	@CategoryPriority = 55
}
@ORGANIZERSUBCATEGORY[blanketPanels]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,NearFutureSolar] {
	@Label = #L_RPVABO_solarPanels1
}
@ORGANIZERSUBCATEGORY[solarPanels]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_solarPanels2
	@Priority = 20
}
@ORGANIZERSUBCATEGORY[staticPanels]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,NearFutureSolar] {
	@Priority = 22
}
@ORGANIZERSUBCATEGORY[fuelCells]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 30
}
@ORGANIZERSUBCATEGORY[rtgs]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 40
}
@ORGANIZERSUBCATEGORY[nuclearReactors]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 50
}
@ORGANIZERSUBCATEGORY[fusionReactors]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 60
}

@ORGANIZERSUBCATEGORY[direct]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_direct1
}
ORGANIZERSUBCATEGORY {
	name = direct2
	Label = #L_RPVABO_direct2
	Priority = 45
	CategoryPriority = 60
}

@ORGANIZERSUBCATEGORY[science]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 5
	@Label = #L_RPVABO_science1
}
ORGANIZERSUBCATEGORY {
	name = science2
	Label = #L_RPVABO_science2
	Priority = 10
	CategoryPriority = 65
}
ORGANIZERSUBCATEGORY {
	name = science3
	Label = #L_RPVABO_science3
	Priority = 15
	CategoryPriority = 65
}
ORGANIZERSUBCATEGORY {
	name = science4
	Label = #L_RPVABO_science4
	Priority = 20
	CategoryPriority = 65
}
ORGANIZERSUBCATEGORY {
	name = science5
	Label = #L_RPVABO_science5
	Priority = 25
	CategoryPriority = 65
}
@ORGANIZERSUBCATEGORY[labs]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 30
	@Label = #L_RPVABO_labs
}
@ORGANIZERSUBCATEGORY[greenhouses]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 35
	@Label = #L_RPVABO_greenhouses
}
@ORGANIZERSUBCATEGORY[scienceStorage]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 40
}
@ORGANIZERSUBCATEGORY[resourceScanners]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 50
}

@ORGANIZERSUBCATEGORY[deployables]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_deployable1
}
ORGANIZERSUBCATEGORY {
	name = deployables2
	Label = #L_RPVABO_deployable2
	Priority = 30
	CategoryPriority = 75
}
ORGANIZERSUBCATEGORY {
	name = equipment
	Label = #L_RPVABO_equipment
	Priority = 40
	CategoryPriority = 75
}
@ORGANIZERSUBCATEGORY[cargoStorage]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_cargoStorage
	@Priority = 50
}

ORGANIZERSUBCATEGORY {
	name = parachutes2
	Label = #L_RPVABO_parachutes2
	Priority = 10
	CategoryPriority = 70
}
@ORGANIZERSUBCATEGORY[resources]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_resources1
	@Priority = 75
}
ORGANIZERSUBCATEGORY {
	name = resources2
	Label = #L_RPVABO_resources2
	Priority = 76
	CategoryPriority = 70
}
@ORGANIZERSUBCATEGORY[crewTransport]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Priority = 80
}
@ORGANIZERSUBCATEGORY[crewUtility]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,StationPartsExpansionRedux] {
	@Priority = 86
	@Label = #L_RPVABO_crewHabitation2
}
@ORGANIZERSUBCATEGORY[crewCentrifuges]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer,StationPartsExpansionRedux] {
	@Label = #L_RPVABO_crewCentrifuges
}
@ORGANIZERSUBCATEGORY[flags]:BEFORE[zzz_ReProgram]:NEEDS[VABOrganizer] {
	@Label = #L_RPVABO_flags
}

Localization {
	en-us {
		#L_RPVABO_pods = Capsules
		#L_RPVABO_cockpits = Aircraft
		#L_RPVABO_probes = Robot Cores
		#L_RPVABO_guidance = Flight Computers
		#L_RPVABO_cupolas = Station Cupolas

		#L_RPVABO_lfo1 = Rocket Fuel, Heavyweight
		#L_RPVABO_lfo2 = Rocket Fuel, Lightweight
		#L_RPVABO_monoprop = Monopropellant
		#L_RPVABO_lf = Fuselages
		#L_RPVABO_xenon = Xenon Gas
		#L_RPVABO_argon = Argon Gas
		#L_RPVABO_lithium = Lithium
		#L_RPVABO_nuclearFuel1 = Reactor Fuel
		#L_RPVABO_nuclearFuel2 = Fission Fuel
		#L_RPVABO_nuclearFuel3 = Pulse Units
		#L_RPVABO_antimatterFuel = Antimatter
		#L_RPVABO_plumbing = Plumbing

		#L_RPVABO_cryogenicEngines1 = Liquid Hydrogen Engines
		#L_RPVABO_cryogenicEngines2 = Liquid Methane Engines
		#L_RPVABO_nuclearEngines1 = Nuclear Thermal Engines
		#L_RPVABO_nuclearEngines2 = Fission Engines
		#L_RPVABO_solidEngines2 = Separation Engines

		#L_RPVABO_rcs1 = Monopropellant RCS
		#L_RPVABO_rcs2 = Liquid Fuel RCS
		#L_RPVABO_rcs3 = Electric RCS

		#L_RPVABO_adapters = Stack Adapters
		#L_RPVABO_radialAdapters = Connectors
		#L_RPVABO_crewTubes = Station Parts

		#L_RPVABO_gripPads = Grip Pads
		#L_RPVABO_controllers = Controllers

		#L_RPVABO_decouplers = Stack Decouplers
		#L_RPVABO_radialDecouplers = Radial Decouplers
		#L_RPVABO_separators = Stack Separators
		#L_RPVABO_dockingPorts1 = Docking, Clamp-O-Tron Format
		#L_RPVABO_dockingPorts2 = Docking, Clamp-O-Tron Jr.
		#L_RPVABO_dockingPorts3 = Docking, Clamp-O-Tron Sr.
		#L_RPVABO_dockingPorts4 = Docking, Other Clamp-O-Tron
		#L_RPVABO_dockingPorts5 = Docking, Other Formats

		#L_RPVABO_launchClamps = Launch Stabilizers

		#L_RPVABO_cargoBays1 = Payload Bays

		#L_RPVABO_heavySurfaces = Heavy Surfaces

		#L_RPVABO_heatShields = Shielding
		#L_RPVABO_radiators1 = Fixed Radiators
		#L_RPVABO_radiators2 = Folding Radiators
		#L_RPVABO_heatSinks = Heat Sinks

		#L_RPVABO_solarPanels1 = Fixed Solar Panels
		#L_RPVABO_solarPanels2 = Folding Solar Panels

		#L_RPVABO_direct1 = Folding Antennae
		#L_RPVABO_direct2 = Static Antennae

		#L_RPVABO_science1 = Materials Science
		#L_RPVABO_science2 = Geology
		#L_RPVABO_science3 = Meteorology
		#L_RPVABO_science4 = Physics
		#L_RPVABO_science5 = Astronomy
		#L_RPVABO_labs = Station Laboratories
		#L_RPVABO_greenhouses = Station Greenhouses

		#L_RPVABO_deployable1 = EVA Construction
		#L_RPVABO_deployable2 = EVA Science
		#L_RPVABO_equipment = EVA Equipment
		#L_RPVABO_cargoStorage = Storage

		#L_RPVABO_parachutes2 = Drogue Parachutes
		#L_RPVABO_resources1 = Resource Harvesting
		#L_RPVABO_resources2 = Resource Utilization
		#L_RPVABO_crewHabitation2 = Inflatable Habitats
		#L_RPVABO_crewCentrifuges = Rotating Habitats
		#L_RPVABO_flags = Decals
	}
}
