@PART[nflv-fueltank-5-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_Size4_Tank_04
}
@PART[nflv-fueltank-5-2]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_Size4_Tank_03
}
@PART[nflv-fueltank-5-3]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_Size4_Tank_02
}
@PART[nflv-fueltank-5-4]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_Size4_Tank_01
}
@PART[nflv-fueltank-adapter-5-375-2]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_Size3_Size4_Adapter_01
}
@PART[nflv-fueltank-adapter-5-375-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_nflv-fueltank-adapter-5-375-1
}
@PART[nflv-fueltank-adapter-5-375-3]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@title = #LOC_RPtitle_nflv-fueltank-adapter-5-375-3
}

@PART[Decoupler_4]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	%entryCost = 2600
	%cost = 450
}
@PART[Separator_4]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	%entryCost = 3900
	%cost = 650
}
@PART[Decoupler_4|Separator_4]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	%category = Coupling
	%subcategory = 0
	%TechHidden = False
	MODULE {
		name = ModuleTestSubject
		useStaging = True
		useEvent = False
		situationMask = 127
		CONSTRAINT {
			type = REPEATABILITY
			value = ALWAYS
			prestige = Trivial
		}
		CONSTRAINT {
			type = REPEATABILITY
			value = BODYANDSITUATION
			prestige = Significant
		}
		CONSTRAINT {
			type = REPEATABILITY
			value = ONCEPERPART
			prestige = Exceptional
		}
		CONSTRAINT {
			type = ALTITUDE
			test = GT
			value = 0
			situationMask = 8
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = GT
			value = 4000
			prestige = Trivial
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = LT
			value = 8000
			prestige = Trivial
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = GT
			value = 2000
			prestige = Significant
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = LT
			value = 4000
			prestige = Significant
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = GT
			value = 1000
			prestige = Exceptional
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = LT
			value = 2000
			prestige = Exceptional
		}
		CONSTRAINT {
			type = SPEED
			test = LT
			value = 2000
			situationMask = 8
		}
		CONSTRAINT {
			type = ALTITUDE
			test = LT
			value = 300000
			situationMask = 16
			body = _NotSun
		}
		CONSTRAINT {
			type = ALTITUDE
			test = LT
			value = 600000
			situationMask = 32
			body = _NotSun
		}
	}
}
@PART[fairingSize4]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	%entryCost = 12500
	%cost = 1200
	%category = Payload
	%subcategory = 0
	%TechHidden = False
	MODULE {
		name = ModuleTestSubject
		useStaging = True
		useEvent = False
		situationMask = 127
		CONSTRAINT {
			type = ATMOSPHERE
			value = True
		}
		CONSTRAINT {
			type = REPEATABILITY
			value = ALWAYS
			prestige = Trivial
		}
		CONSTRAINT {
			type = REPEATABILITY
			value = BODYANDSITUATION
			prestige = Significant
		}
		CONSTRAINT {
			type = REPEATABILITY
			value = ONCEPERPART
			prestige = Exceptional
		}
		CONSTRAINT {
			type = ALTITUDE
			test = GT
			value = 0
			situationMask = 8
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = GT
			value = 4000
			prestige = Trivial
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = LT
			value = 8000
			prestige = Trivial
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = GT
			value = 2000
			prestige = Significant
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = LT
			value = 4000
			prestige = Significant
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = GT
			value = 1000
			prestige = Exceptional
		}
		CONSTRAINT {
			type = ALTITUDEENV
			test = LT
			value = 2000
			prestige = Exceptional
		}
		CONSTRAINT {
			type = SPEED
			test = LT
			value = 2000
			situationMask = 8
		}
		CONSTRAINT {
			type = ALTITUDE
			test = LT
			value = 300000
			situationMask = 16
			body = _NotSun
		}
		CONSTRAINT {
			type = ALTITUDE
			test = LT
			value = 600000
			situationMask = 32
			body = _NotSun
		}
	}
}

Localization {
	en-us {
		#LOC_RPtitle_nflv-fairing-75-1 = AE-FF7 Airstream Protective Shell
		#LOC_RPtitle_nflv-fueltank-adapter-5-375-3 = S4 ADTP-3-4 Adapter Tank 02
		#LOC_RPtitle_nflv-fueltank-adapter-5-375-1 = S4 ADTP-3-4 Adapter Tank 03
	}
}