+PART[mk1-3pod]:BEFORE[zzyReProgram] {
	@name = Mark1-2Pod_v1
	@author = Ven
	@MODEL {
		@model = ReProgram/Parts/Command/Mk1-2Pod_v1/1-2
	}
	%node_stack_bottom = 0.0, -0.46924, 0.0, 0.0, -1.0, 0.0, 2
	@entryCost = 7200
	@cost = 3600
	@title = #L_ReProgramPT_Mark1-2Pod_v1
	%manufacturer = #L_ReProgramA_Kerl
	%description = #L_ReProgramPD_Mark1-2Pod_v1
	@mass = 3.3
	@crashTolerance = 40
	@INTERNAL {
		@name = PodCockpit
	}
	@MODULE[ModuleReactionWheel] {
		@RESOURCE[ElectricCharge] {
			@rate = 0.9
		}
	}
	@MODULE[FlagDecal] {
		@textureQuadName = flagTransform
	}
	!EFFECTS{}
}

Localization {
	en-us {
		// Agency
	#L_ReProgramPT_Mark1-2Pod_v1 = Command Pod Mk1-2
	#L_ReProgramPD_Mark1-2Pod_v1 = Kerlington's most famous capsule; this modern cockpit is designed to be fully re-useable, and its spacious cabin can hold a maximum of 3 crew. It is lacking some technologies from the Mk1-25, but can take more of a beating before suffering a hull loss.
	}
}