@PART[cryoengine-deinonychus-1]:FOR[zzz_ReProgram]:NEEDS[CryoEngines] {
	@category = Propulsion
	@techHidden = False
	%description = #LOC_RPblurb_cryoengine-deinonychus-1
}

@PART[cryoengine-eagle-1]:FOR[zzz_ReProgram]:NEEDS[CryoEngines] {
	@category = Propulsion
	@techHidden = False
	%description = #LOC_RPblurb_cryoengine-eagle-1
}

@PART[nfs-panel-deploying-blanket-starship-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSolar] {
	@category = Electrical
	@techHidden = False
	%description = #LOC_RPblurb_nfs-panel-deploying-blanket-starship-1
}

@PART[nfs-panel-deploying-blanket-bfs-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSolar] {
	@category = Electrical
	@techHidden = False
	%description = #LOC_RPblurb_nfs-panel-deploying-blanket-bfs-1
}

Localization {
	en-us {
		#LOC_RPblurb_cryoengine-deinonychus-1 = A miracle of an engine designed for clustering and heavy re-use, perfect for more demanding, high-tech lifters.
		#LOC_RPblurb_cryoengine-eagle-1 = Even in space, you canʼt escape the Deinoychus. We now bring you the Eagle, a vaccum-optimized version that can break the sky on a budget. Methalox…uh…finds a way.

		#LOC_RPblurb_nfs-panel-deploying-blanket-starship-1 = The difference between a ‘spaceship’ and a ‘starship’ is purely marketing. This panel can power entire starships.
		#LOC_RPblurb_nfs-panel-deploying-blanket-bfs-1 = This fan-shaped array does not actually act as a fan, and wiggling it back and forth in space will not provide any additional cooling.
	}
}

// The KSrP project is anti-fascist. Be kind, or be struck down with the knowledge that you could have been.