@PART[command-125-landing-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	@category = Pods
	@techHidden = False
	%description = #LOC_RPblurb_command-125-landing-1
}

@PART[command-25-landing-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	@category = Pods
	@techHidden = False
	%description = #LOC_RPblurb_command-25-landing-1
}

@PART[monoprop-tank-125-*|monoprop-tank-25-*|monoprop-tank-375-*]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	@category = FuelTank
	@techHidden = False
}

@PART[monoprop-tank-125-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-125-1
}

@PART[monoprop-tank-125-2]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-125-2
}

@PART[monoprop-tank-125-3]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-125-3
}

@PART[monoprop-tank-25-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-25-1
}

@PART[monoprop-tank-25-2]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-25-2
}

@PART[monoprop-tank-25-3]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-25-3
}

@PART[monoprop-tank-375-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-375-1
}

@PART[monoprop-tank-375-2]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-375-2
}

@PART[monoprop-tank-375-3]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	%description = #LOC_RPblurb_monoprop-tank-375-3
}

@PART[engine-rocket-pack-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureSpacecraft] {
	@category = Engine
	@techHidden = False
	%description = #LOC_RPblurb_engine-rocket-pack-1
}

@PART[nflv-engine-m1d-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@category = Engine
	@techHidden = False
	%description = #LOC_RPblurb_nflv-engine-m1d-1
}

@PART[nflv-engine-m1d-vac-1]:FOR[zzz_ReProgram]:NEEDS[NearFutureLaunchVehicles] {
	@category = Engine
	@techHidden = False
	%description = #LOC_RPblurb_nflv-engine-m1d-vac-1
}

Localization {
	en-us {
		#LOC_RPblurb_command-125-landing-1 = A two-kerbal capsule with a clever design. It comes with mounts for Chickadee engines, which allow abort procedures and propulsive landings.
		#LOC_RPblurb_command-25-landing-1 = The ultimate orbital drop-pod, capable of bringing 3 kerbals to a soft landing on any planet with its Chickadee engines!\n\n(Chickadee engines not included. RCS is, however.)

		#LOC_RPblurb_monoprop-tank-125-1 = Stratus provides this set of storage tanks, in a tasteful 1.25m form factor! This one is long.
		#LOC_RPblurb_monoprop-tank-125-2 = Stratus provides this set of storage tanks, in a tasteful 1.25m form factor! This one is medium, and juuuust right.
		#LOC_RPblurb_monoprop-tank-125-3 = Stratus provides this set of storage tanks, in a tasteful 1.25m form factor! This one is small.
		#LOC_RPblurb_monoprop-tank-25-1 = The FL-R series stores monopropellant in bounteous quantities.
		#LOC_RPblurb_monoprop-tank-25-2 = The FL-R series stores monopropellant in bounteous quantities, except, in this half-size model, a little less.
		#LOC_RPblurb_monoprop-tank-25-3 = Letʼs say you prefer your 750 L monopropellant tank to look good. This tank might be a better option than the FL-R-1.
		#LOC_RPblurb_monoprop-tank-375-1 = Itʼs been said that you donʼt really need that much monopropellant for your spacegoing RCS needs. We beg to differ.
		#LOC_RPblurb_monoprop-tank-375-2 = An above-average sized tank transports an above-average amount of fuel. In this case, itʼs monopropellant.
		#LOC_RPblurb_monoprop-tank-375-3 = Building a big service module? Need a big monopropellant tank? Thisʼll do you good.

		#LOC_RPblurb_engine-rocket-pack-1 = A monopropellant engine intended as a landing and abort system for advanced command pods. You can use them elsewhere, and youʼll get great thrust and gimbal, but we certainly hope youʼre not expecting efficiency.

		#LOC_RPblurb_nflv-engine-m1d-1 = A surprisingly simple and cheap booster engine, enough so to be assembled by child kerbals, a market in which this engine has seen great success. Moving parts, not for small children.
		#LOC_RPblurb_nflv-engine-m1d-vac-1 = The Otter, but in SPAAAAAACEEE! (Vacuum optimized!!) (Warranty void if ignited below 1 kPa.)
	}
}

// The KSrP project is anti-fascist. Be kind, or be struck down with the knowledge that you could have been.