Localization {
en-us {
	#L_RPkop_bHole = Mavabroth^N
		#L_RPkop_bHoleA = Jordun^N
		#L_RPkop_bHoleB = Mellie^N
		#L_RPkop_bHoleC = Domon^N
		#L_RPkop_lStar = Camgee^N
			#L_RPkop_lStarA = Mehtna^N// Kcalbeloh name(s) placeholder
				#L_RPkop_lStarA1 = Tot^N
			#L_RPkop_lStarB = Meiuqer^N
			#L_RPkop_lStarC = Iomena^N
		#L_RPkop_kStar = Wilford^N
			#L_RPkop_kStarA = Sedah^N// Kcalbeloh name(s) placeholder
			#L_RPkop_kStarB = Suluco^N
			#L_RPkop_kStarC = Sera^N
				#L_RPkop_kStarC1 = Dipuc
				#L_RPkop_bridge2 = 2014XG01 Kipper β^N
			#L_RPkop_kStarD = Simetra^N// Kcalbeloh name(s) placeholder
				#L_RPkop_kStarD1 = Noira
				#L_RPkop_kStarD2 = Norihc
				#L_RPkop_kStarD3 = Noyreg
				#L_RPkop_kStarD4 = Noi
		#L_RPkop_aStar = Albas
			#L_RPkop_aStarA = Anneheg// Kcalbeloh name(s) placeholder
			#L_RPkop_aStarB = Arorua
			#L_RPkop_aStarC = Ahtpan
			#L_RPkop_aStarD = Aciore// Kcalbeloh name(s) placeholder
				#L_RPkop_aStarD1 = Enots		
				#L_RPkop_aStarD2 = Efil
				#L_RPkop_aStarD3 = Eulb
				#L_RPkop_aStarD4 = Elad
		#L_RPkop_theSun = Sõn^N// Complements 'Mün', Nova hates the term Kerbol.
			#L_RPkop_theSunA = Moho^N
			#L_RPkop_theSunB = Eve^N
				#L_RPkop_theSunB1 = Gilly^N
			#L_RPkop_theSunC = Kerbin^N
				#L_RPkop_theSunC1 = Mün^N
				#L_RPkop_theSunC2 = Minmus^N
			#L_RPkop_theSunD = Duna^N
				#L_RPkop_theSunD1 = Ike^N
					#L_RPkop_theSunD1s = 2012MB01^N Charlie
			#L_RPkop_theSunE = Dres^N
			#L_RPkop_theSunF = Jool^N
				#L_RPkop_theSunF1 = Laythe^N
				#L_RPkop_theSunF2 = Vall^N
				#L_RPkop_theSunF3 = Tylo^N
				#L_RPkop_theSunF4 = Bop^N
				#L_RPkop_theSunF5 = Pol^N
			#L_RPkop_theSunG = Salle^N
				#L_RPkop_theSunG1 = Gax^N
				#L_RPkop_theSunG2 = Eeloo^N
				#L_RPkop_theSunG3 = Fonso^N
				#L_RPkop_theSunG4 = Daphy^N
				#L_RPkop_bridge1 = 2014XG01 Kipper α^N// Although spelled Alpha and Beta, the endpoints are pronounced 'A' and 'B'
			#L_RPkop_theSunH = Mandrake & Rutherford^N
				#L_RPkop_theSunHa = Mandrake^N
				#L_RPkop_theSunHb = Rutherford^N
					#L_RPkop_theSunH1 = Nama^N
					#L_RPkop_theSunH2 = Mickle^N
					#L_RPkop_theSunH3 = Lara^N
					#L_RPkop_theSunH4 = Onon^N
						#L_RPkop_theSunH4s = Oron^N
			#L_RPkop_theSunMinorB = Belson^N// KSE name(s) placeholder
				#L_RPkop_theSunMinorB1 = Moog^N
				#L_RPkop_theSunMinorB2 = Pix^N
				#L_RPkop_theSunMinorB3 = Eriz^N
		#L_RPkop_bHoleD = Novos
		#L_RPkop_gStar = Pál
			#L_RPkop_gStarA = Xubol
			#L_RPkop_gStarB = Lilly
				#L_RPkop_gStarB1 = Set
			#L_RPkop_gStarC = June
				#L_RPkop_gStarC1 = Rupa
				#L_RPkop_gStarC2 = Meagur
				#L_RPkop_gStarC3 = Luma
				#L_RPkop_gStarC4 = Merbel
				#L_RPkop_gStarC4s = Ida
			#L_RPkop_gStarD = Sothebin
				#L_RPkop_gStarD1 = Azel
				#L_RPkop_gStarD1s = 
				#L_RPkop_gStarD2 = Egar
		#L_RPkop_mStar = Tamris
			#L_RPkop_mStarA = Tabor
			#L_RPkop_mStarB = Nuumi & Kuula^N
				#L_RPkop_mStarB1 = Nuumi^N
				#L_RPkop_mStarB2 = Kuula^N
			#L_RPkop_mStarC = Orial^N
				#L_RPkop_mStarC1 = Zuryn^N
			#L_RPkop_mStarD = Mortan^N
	}
}