@Kopernicus:AFTER[zzzReProgram] {
  @Body[Sun] {
	@Properties {
	  @displayName = #L_ReProgramKP_Kerbol
	}
  }
  @Body[Mun] {
	@Properties {
	  @displayName = #L_ReProgramKP_Mun
	}
  }
  @Body[Salenne]:NEEDS[KerbolExpansion] {
	@Properties {
	  @displayName = #L_ReProgramKP_GP2
	}
  }
  @Body[Ulloom]:NEEDS[KerbolExpansion] {
	@Properties {
	  @displayName = #L_ReProgramKP_GP3
	}
  }
  @Body[Poseidon]:NEEDS[KerbolExpansion] {
	@Properties {
	  @displayName = #L_ReProgramKP_GP4
	}
  }
  @Body[Anehta]:NEEDS[KcalbelohSystem] {
	@Properties {
	  @displayName = #L_ReProgramKC_AralcGP
	}
  }
}

Localization {
 en-us {
	// Objects
	#L_ReProgramKP_Kerbol = The Sun
	#L_ReProgramKP_Mun = Mün
	// Kerbol System Expansion
	#L_ReProgramKP_GP2 = Salenne
	#L_ReProgramKP_GP3 = Oron
	#L_ReProgramKP_GP4 = Suyulo
	// Kcalbeloh System
	#L_ReProgramKC_AralcGP = Aciore
  }
}