// Turn every part, mission control contractor, and planet into a message
// yelling at the player that they are about to break the game if a vital
// dependency is missing from their Kerbal Space Program installation

@PART[*]:NEEDS[!Squad|!SquadExpansion/MakingHistory|!ReStock|!ReStockPlus|!B9PartSwitch|!Kopernicus]:FINAL {
	@title = #L_ReProgramFST
	%description = #L_ReProgramFSD
}
@AGENT[*]:NEEDS[!Squad|!SquadExpansion/MakingHistory|!ReStock|!ReStockPlus|!B9PartSwitch|!Kopernicus]:FINAL {
	@title = #L_ReProgramFST
	%description = #L_ReProgramFSD
}
@RESOURCE_DEFINITION[*]:NEEDS[!Squad|!SquadExpansion/MakingHistory|!ReStock|!ReStockPlus|!B9PartSwitch|!Kopernicus]:FINAL {
	%displayName = #L_ReProgramFST2
	%abbreviation = #L_ReProgramFSD2
}
@Kopernicus:NEEDS[!Squad|!SquadExpansion/MakingHistory|!ReStock|!ReStockPlus|!B9PartSwitch]:FINAL {
	@Body[*] {
		@Properties {
			%displayName = #L_ReProgramFST
			%description = #L_ReProgramFSD
		}
	}
}

Localization {
	en-us {
		#L_ReProgramFST = A DEPENDENCY IS MISSING!!!
		#L_ReProgramFSD = QUIT (NOW) AND REPAIR YOUR GAMEDATA!!!
		#L_ReProgramFST2 = DEPENDENCY MISSING!!!
		#L_ReProgramFSD2 = gameBroke
	}
}