//RESOURCE_DEFINITION {
//	name =				LF			O			SF			MP			XE			EC			AIR			EP			ORE					AB
//	displayName =
//	abbreviation =
//	density =			0.005,		0.005,		0.0075,		0.004,		0.0001,		0,			0.005,		0.005,		0.010,				0.001,
//	unitCost =			0.8,		0.18,		0.6,		1.2,		4,			0,			0.			0,			0.02,				0.5,
//	hsp =				2010,		1551,		920,		3000,		120,		0,			10			none,		1000,				400,
//	flowMode =			[STACK_PRIORITY_SEARCH],NO_FLOW,	[  STAGE_PRIORITY_FLOW  ],			ALL_VESSEL,	NO_FLOW,	ALL_VESSEL,			NO_FLOW,
//	transfer =			PUMP, 		PUMP,		NONE,		PUMP,		PUMP,		PUMP,		PUMP,		PUMP,		PUMP,				NONE,
//	isTweakable = 		true,		true,		true,		true,		true,		true,		false,		false,		true,				true,
//	isVisible =			true,		true,		true,		true,		true,		true,		false,		true,		true,				true,
//	color =				none,		none,		none,		none,		none,		none,		none,		none,		1,0,1				none,
//	volume =			5,			5,			5,			5,			0.1			none,		none,		none,		5,					1,
//	RESOURCE_DRAIN_DEFINITION {
//	isDrainable =		true,		true,		false,		true,		true,		false,		false,		false,		true,				false,
//	showDrainFX =		true,		true,		false,		true,		true,		false,		false,		false,		true,				false,
//	drainFXPriority =	7,			7,			none,		none,		5,			none,		none,		none,		9,					none,
//	drainForceISP =		5,			5,			none,		none,		5,			none,		none,		none,		5,					none,
//	drainFXDefinition =	gasDraining,			none,		gasDraining,			none,		none,		none,		particlesDraining,	none,
//	}
//}

// New Fuels
RESOURCE_DEFINITION
	name = HyperFuel
	displayName = #L_ReProgramRS_HyperFuel
	abbreviation = #L_ReProgramRS_HyperFuelAbv
	density = 0.002195
	unitCost = 1.35
	hsp = 2970.1
	flowMode = STACK_PRIORITY_SEARCH
	transfer = PUMP
	isTweakable = true
	volume = 5
	RESOURCE_DRAIN_DEFINITION {
		isDrainable = true
		showDrainFX = true
		drainFXPriority = 7
		drainForceISP = 5
		drainFXDefinition = gasDraining
	}
}
RESOURCE_DEFINITION
	name = HyperDizer
	displayName = #L_ReProgramRS_HyperDizer
	abbreviation = #L_ReProgramRS_HyperDizerAbv
	density = 0.006354
	unitCost = 1.075
	hsp = 1521.6
	flowMode = STACK_PRIORITY_SEARCH
	transfer = PUMP
	isTweakable = true
	volume = 5
	RESOURCE_DRAIN_DEFINITION {
		isDrainable = true
		showDrainFX = true
		drainFXPriority = 7
		drainForceISP = 5
		drainFXDefinition = gasDraining
	}
}

// Allow resource drain of Intake Air and Solid Fuel
@RESOURCE_DEFINITION[IntakeAir]:FOR[zzzReProgram] {
	@RESOURCE_DRAIN_DEFINITION {
		%isDrainable = true
		%showDrainFX = true
		%drainFXPriority = 5
		%drainForceISP =	5
		%drainFXDefinition = gasDraining
	}
}
@RESOURCE_DEFINITION[SolidFuel]:FOR[zzzReProgram] {
	@RESOURCE_DRAIN_DEFINITION {
		%isDrainable = true
		%showDrainFX = true
		%drainFXPriority = 7
		%drainForceISP = 5
		%drainFXDefinition = particlesDraining
	}
}

//	Rename basic resources (as well as Liquid Hydrogen)
@RESOURCE_DEFINITION[LiquidFuel]:AFTER[zzzReProgram] {
	@displayName = #L_ReProgramRS_LiquidFuel
	@abbreviation = #L_ReProgramRS_LiquidFuelAbv
}
@RESOURCE_DEFINITION[Oxidizer]:AFTER[zzzReProgram] {
	@displayName = #L_ReProgramRS_Oxidizer
	@abbreviation = #L_ReProgramRS_OxidizerAbv
}
@RESOURCE_DEFINITION[MonoPropellant]:AFTER[zzzReProgram] {
	@displayName = #L_ReProgramRS_MonoPropellant
	@abbreviation = #L_ReProgramRS_MonoPropellantAbv
}
@RESOURCE_DEFINITION[LqdHydrogen]:AFTER[zzzReProgram] {
	@displayName = #L_ReProgramRS_LqdHydrogen
	@abbreviation = #L_ReProgramRS_LqdHydrogenAbv
}

Localization {
	en-us {
		#L_ReProgramRS_LiquidFuel = Kerosene
		#L_ReProgramRS_LiquidFuelAbv = RP-1
		#L_ReProgramRS_Oxidizer = LqdOxygen
		#L_ReProgramRS_OxidizerAbv = LOX
		#L_ReProgramRS_MonoPropellant = Hydrazine
		#L_ReProgramRS_MonoPropellantAbv = N2H4
		#L_ReProgramRS_LqdHydrogen = LqdHydrogen
		#L_ReProgramRS_LqdHydrogenAbv = LH2

		#L_ReProgramRS_HyperFuel = Aerozine
		#L_ReProgramRS_HyperFuelAbv = AZ-50
		#L_ReProgramRS_HyperDizer = AmylTetroxide
		#L_ReProgramRS_HyperDizerAbv = NTO
	}
}

@SPACEDUST_RESOURCE:HAS[#resourceName[LqdHydrogen],#body[Jool]]:NEEDS[SpaceDust]:BEFORE[zzzReProgram] {
	@RESOURCEBAND:HAS[#name[joolAtmo]] {
		//											 Maximum and											 minimum abundances (variation is by game seed)
		// In t/m^3
		@minAbundance = 0.0033
		@maxAbundance = 0.0049
		
	}
	@RESOURCEBAND:HAS[#name[joolExo]] {
		//											 Maximum and											 minimum abundances (variation is by game seed)
		// In t/m^3
		@minAbundance = 0.000000000061
		@maxAbundance = 0.000000000072
	}
}