// Adjustment: Rename basic resources (as well as Liquid Hydrogen)
@RESOURCE_DEFINITION[LiquidFuel]:FOR[zzyReProgram] {
	@displayName = #L_ReProgramRSN_LiquidFuel
	@abbreviation = #L_ReProgramRSA_LiquidFuel
}
@RESOURCE_DEFINITION[Oxidizer]:FOR[zzyReProgram] {
	@displayName = #L_ReProgramRSN_Oxidizer
	@abbreviation = #L_ReProgramRSA_Oxidizer
}
@RESOURCE_DEFINITION[MonoPropellant]:FOR[zzyReProgram] {
	@displayName = #L_ReProgramRSN_MonoPropellant
	@abbreviation = #L_ReProgramRSA_MonoPropellant
}
@RESOURCE_DEFINITION[LqdHydrogen]:FOR[zzyReProgram] {
	@displayName = #L_ReProgramRSN_LqdHydrogen
	@abbreviation = #L_ReProgramRSA_LqdHydrogen
}

Localization {
	en-us {
		#L_ReProgramRSN_LiquidFuel = Kerosene
		#L_ReProgramRSA_LiquidFuel = RP-1
		#L_ReProgramRSN_Oxidizer = LqdOxygen
		#L_ReProgramRSA_Oxidizer = LOX
		#L_ReProgramRSN_MonoPropellant = Hydrazine
		#L_ReProgramRSA_MonoPropellant = N2H4
		#L_ReProgramRSN_LqdHydrogen = LqdHydrogen
		#L_ReProgramRSA_LqdHydrogen = LH2
	}
}